.biomatric-container {
  display: block;
  padding: 14px 0 8px 0;

  .main-heading {
    font-size: 1rem;
    color: var(--text-color-dark-shade-1);
    font-family: 'CIB Bold';
  }

  .sub-heading {
    margin: 0.15rem 0;
    font-size: 0.875rem;
    color: var(--text-color-dark-shade-1);
  }

  .biomatrinc-lock {
    position: relative;
    /* height: 15rem;*/
    width: 100%;

    .image {
      margin: 25px calc(50% - 4.25rem) 11px calc(56% - 4.25rem);
      width: 5.5rem;
      height: 6.5rem;
      border-radius: 10px;
    }
    .p-field-checkbox {
      display: inherit !important;
      text-align: center !important;
    }
  }
}

.gray-scale {
  filter: grayscale(90%);
}


@media screen and (max-width: 991px) {
  .biomatrinc-lock {
    padding-top: 24vh;
  }
}