<div class="container" *ngIf="!loading">
  <div class="p-grid g-margin-x">
    <ng-container *ngIf="currentScreen == 'FILTERS'">
      <div class="p-md-7 p-sm-12 p-col-12">
        <!-- [genericFilterList]="selectedFilters" -->
        <app-dynamic-search #dynamicSearch [entityName]="entityName" (onSearch)="getRecords($event)"
          [isShowSearchByHeader]="true" [isShowPrefillCriteria]="true" [isDisplayPrefillCriteriaModal]="true"
          (onFiltersReady)="onDynamicFiltersReady()" (onSaveCriteria)="getCriteriaList()">
        </app-dynamic-search>
      </div>

      <div class="p-md-5 p-sm-12 p-col-12">
        <div class="aps-card aps-h-100p p-px-3 p-pb-3 p-pt-0">
          <app-nothing-here *ngIf="criteriaList.length == 0" colSize="5"
            message="Select Search by to view Saved Criteria"></app-nothing-here>
          <p-tabView *ngIf="criteriaList.length > 0">
            <p-tabPanel header="{{ 'Saved Criterion' | apsTranslate }}">
              <div class="p-px-0 p-pt-3 p-pb-1 border-bottom" *ngFor="let criteria of criteriaList; let i = index">
                <div class="left-right-container">
                  <div class="left-container text-color-dark-shade-1 text-semi-bold">
                    <div class="text-size-12">{{ criteria.name }}</div>
                    <div class="text-size-10">
                      {{ getCriteriaFilterCount(criteria) }} {{ 'Parameters' | apsTranslate }}
                    </div>
                  </div>
                  <div class="right-container">
                    <button class="btn btn-md btn-tertiary" (click)="applyCriteria(criteria)">
                      {{ 'Apply' | apsTranslate }}
                    </button>
                    <span class="p-mx-1 inline-block p-py-2 text-color-dark-shade-1">
                      <app-icon icon="fa-trash-alt" class="text-size-14 pointer"
                        (click)="deleteCriteria(criteria)"></app-icon>
                    </span>
                  </div>
                </div>
              </div>
            </p-tabPanel>
            <p-tabPanel header="{{ 'Recent' | apsTranslate }}">
              <ng-container *ngFor="let criteria of criteriaList; let i = index">
                <div class="p-px-0 p-pt-3 p-pb-1 border-bottom" *ngIf="i < 3">
                  <div class="left-right-container">
                    <div class="left-container text-color-dark-shade-1 text-semi-bold">
                      <div class="text-size-12">{{ criteria.modifiedSysOn }}</div>
                      <div class="text-size-10">
                        {{ getCriteriaFilterCount(criteria) }} {{ 'Parameters' | apsTranslate }}
                        {{ criteria.name }}
                      </div>
                    </div>
                    <div class="right-container">
                      <button class="btn btn-md btn-tertiary" (click)="applyCriteria(criteria)">
                        {{ 'REUSE' | apsTranslate }}
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentScreen == 'SEARCH_RESULTS'">
      <div class="p-col-12">
        <app-searched-by-view [filters]="selectedFilters" (onClear)="selectedFilters = []; currentScreen = 'FILTERS'"
          (onModify)="currentScreen = 'FILTERS'"></app-searched-by-view>
      </div>

      <div class="p-col-12">
        <div class="aps-card aps-h-400">
          <div class="aps-card-header aps-py-12 p-px-3">
            <div class="left-right-container">
              <div class="left-container">
                <div class="text-size-14 text-bold">{{ 'Search Results' | apsTranslate }}</div>
              </div>
              <div class="right-container">
                <app-grid-listing-tools (changeFloatingFilter)="searchResultGrid.changeFloatFilter($event)"
                  (filterRecords)="searchResultGrid.onFilter($event)"
                  (applyColDefs)="searchResultGrid.onApplyConfig($event)" [colDefs]="searchResultGrid.columnDefs"
                  [columnConfig]="true" [moreOptions]="true">
                </app-grid-listing-tools>
              </div>
            </div>
          </div>
          <div class="aps-card-body">
            <app-ag-grid-listing #searchResultGrid id="searchResultGrid" [colDefUrl]="colDefUrl" [rowData]="rowData"
              [context]="context" [frameworkComponents]="frameworkComponents"
              [gridOptions]="gridOptions"></app-ag-grid-listing>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentScreen == 'VIEW'">
      <div class="p-col-12">
        <div class="aps-card p-p-2">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Payer Details' | apsTranslate }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Mandate Reference Number' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.id }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Corporate Name' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.corporateName }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Originator Name' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.corporateName }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Payer Name' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerName }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'IFSC Code' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerBank }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Payer Account Number' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.payerAccountNumber }}
              </div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Payer Branch' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerBranch }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col-12">
        <div class="aps-card p-p-2">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Payment Details' | apsTranslate }}</div>
            </div>
            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Transaction Reference Number' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">T{{ formData.id }}</div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Amount' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">
                <app-base-currency [amount]="formData.amount"></app-base-currency>
              </div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Remark' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.remark }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col-12">
        <div class="aps-card p-p-2">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Enrichment Details' | apsTranslate }}</div>
            </div>
            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Reference 1' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.loanNumber }}</div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Reference 2' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.loanAccountNumber }}
              </div>
            </div>

            <!-- <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Enrichment Product Code' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.enrichmentProductCode }}
              </div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Relationship Manager' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.relationshipManager }}
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <div class="p-col-12">
        <aps-card class="aps-card aps-py-12 p-px-3">
          <div class="left-right-container">
            <div class="left-container"></div>
            <div class="right-container">
              <button class="btn btn-md btn-tertiary" (click)="close()">
                {{ 'CLOSE' | apsTranslate }}
              </button>
            </div>
          </div>
        </aps-card>
      </div>
    </ng-container>
  </div>
</div>