.primary-button-card {
  background: url('../../../../../assets/images/mask/circle-pattern.png'), var(--primary-color);
  background-repeat: no-repeat;
}

.secondary-button-card {
  border: 2px solid var(--primary-color);
}
