<span *ngFor="let action of actions | orderBy: 'index':false; let i = index">
  <button
    type="button"
    *ngIf="action.type === 'BUTTON'"
    class="btn btn-sm btn-tertiary p-py-0 p-ml-2 grid-row-text-size"
    [ngClass]="action.class"
    (click)="invokeParentMethod(action)"
  >
    <app-icon class="mr-2" [icon]="action.icon" *ngIf="action.icon"></app-icon
    >{{ action.displayName }}
  </button>

  <span class="p-ml-2 pointer" *ngIf="action.type === 'ICON'">
    <app-icon [icon]="action.icon" (click)="invokeParentMethod(action, $event)"></app-icon>
  </span>
</span>
