<div class="container text-color-dark-shade-1">
  <ng-container *ngIf="!loading; else loadingTemplate">
    <app-modal
      [(isShow)]="showMonthlyCashflowGrid"
      headerText="Cashflow Forecast Overview"
      (onClose)="monthlyCashflowGridData = []"
      *ngIf="showMonthlyCashflowGrid"
    >
      <div body class="aps-h-300">
        <app-ag-grid-listing
          [gridOptions]="{ rowModelType: 'clientSide', pagination: false }"
          colDefUrl="accountServices/services/cashFlowForcast/private/cashflowForecastMonthlyOverviewColDefs"
          [rowData]="monthlyCashflowGridData"
        ></app-ag-grid-listing>
      </div>
    </app-modal>

    <app-modal [(isShow)]="expandedAccount" size="lg" *ngIf="expandedAccount">
      <div class="" body>
        <div class="left-right-container p-pb-3">
          <div class="left-container">
            <div class="inline-item">
              <div class="inline-block text-size-16 p-mr-3 text-semi">
                {{ 'Cash Flow Forecast Overview' | apsTranslate }}
              </div>
              <div class="item inline-block p-mr-3 mt--2">
                <p-radioButton
                  label="Cash Flow"
                  value="Cash Flow"
                  labelStyleClass="text-size-16"
                  [(ngModel)]="expandedAccount.cashFlowForecastOverview"
                ></p-radioButton>
              </div>
              <div class="item inline-block mt--2">
                <p-radioButton
                  label="Inflow/Outflow Distribution"
                  value="Inflow/Outflow Distribution"
                  labelStyleClass="text-size-16"
                  [(ngModel)]="expandedAccount.cashFlowForecastOverview"
                ></p-radioButton>
              </div>
            </div>
          </div>
          <div class="right-container">
            <div class="background-color-primary-light-shade-2 p-px-1 pointer">
              <app-icon
                icon="fa-compress"
                styleClasses="text-color-primary pointer"
                (click)="expandedAccount = null"
              ></app-icon>
            </div>
          </div>
        </div>
        <div class="p-grid border-top p-p-2">
          <ng-container *ngIf="expandedAccount.cashFlowForecastOverview === 'Cash Flow'">
            <div class="p-md-5 p-sm-12 p-col-12">
              <div class="aps-h-272 border border-radius-4">
                <app-ag-grid-listing
                  [gridOptions]="{ rowModelType: 'clientSide', pagination: false }"
                  [colDefUrl]="colDefsUrl"
                  [rowData]="expandedAccount.cashflowGridData"
                  [frameworkComponents]="frameworkComponents"
                ></app-ag-grid-listing>
              </div>
            </div>
            <div class="p-md-7 p-sm-12 p-col-12">
              <div class="border border-radius-4">
                <div class="left-right-container p-px-2 p-pt-2">
                  <div class="left-container"></div>
                  <div class="right-container">
                    <div
                      class="inline-items text-size-12 background-color-dark-3 border-radius-4 overflow-hidden"
                    >
                      <div
                        class="item p-px-2 p-py-1 pointer"
                        [ngClass]="{
                          'background-color-primary text-color-inverted':
                            expandedAccount.optionType == 'Monthly'
                        }"
                        (click)="expandedAccount.optionType = 'Monthly'"
                      >
                        {{ 'Monthly' | apsTranslate }}
                      </div>
                      <div
                        class="item p-px-2 p-py-1 pointer"
                        [ngClass]="{
                          'background-color-primary text-color-inverted':
                            expandedAccount.optionType == 'Quarterly'
                        }"
                        (click)="expandedAccount.optionType = 'Quarterly'"
                      >
                        {{ 'Quarterly' | apsTranslate }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="" style="height: 240px">
                  <ag-charts-angular
                    [options]="expandedAccount.cashflowChartOptions"
                  ></ag-charts-angular>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container
            *ngIf="expandedAccount.cashFlowForecastOverview === 'Inflow/Outflow Distribution'"
          >
            <div class="p-md-6 p-sm-12 p-col-12 p-py-0 p-my-2 border-right">
              <div class="text-size-14 text-semi-bold p-px-2">
                {{ 'Cash Inflow Distribution' | apsTranslate }}
              </div>
              <app-pie-chart
                [options]="expandedAccount.cashInFlowDistributionChartOptions"
                webHeight="250"
                mobileHeight="400"
              ></app-pie-chart>
            </div>
            <div class="p-md-6 p-sm-12 p-col-12 p-py-0 p-my-2 border-left">
              <div class="text-size-14 text-semi-bold p-px-2">
                {{ 'Cash Outflow Distribution' | apsTranslate }}
              </div>
              <app-pie-chart
                [options]="expandedAccount.cashOutFlowDistributionChartOptions"
                webHeight="250"
                mobileHeight="400"
              ></app-pie-chart>
            </div>
          </ng-container>
        </div>
      </div>
    </app-modal>

    <div class="aps-card">
      <div class="p-grid">
        <div class="p-md-3 p-sm-12 p-col-12 p-p-0">
          <div
            class="border-radius-4 border-2 p-p-3"
            [ngClass]="
              isGroupUser
                ? 'aps-filled-card text-color-inverted'
                : 'aps-filled-card-white text-color'
            "
          >
            <div class="left-right-container">
              <div class="left-container">
                <div class="">
                  <img
                    src="./../../../../{{
                      isGroupUser
                        ? groupCashflowForecastData.logo
                        : corporateCashflowForecastData.logo
                    }}"
                    class="img-35-x-27"
                    alt=""
                  />
                </div>
              </div>
              <div class="right-container">
                <app-currency-select-dropdown
                  [selectStyleClass]="
                    isGroupUser ? 'select text-color-inverted' : 'select text-color'
                  "
                  (currencyChanged)="onChangeCurrency($event)"
                  [selectedCurrency]="currency"
                ></app-currency-select-dropdown>
              </div>
            </div>

            <div
              class="text-size-16 text-semi-bold"
              [ngClass]="isGroupUser ? 'text-color-inverted' : 'text-color-dark-shade-1'"
            >
              {{
                isGroupUser ? groupCashflowForecastData.name : corporateCashflowForecastData.name
              }}
            </div>

            <div
              class="p-my-md-3 p-my-sm-2 p-my-2"
              [ngClass]="isGroupUser ? 'border-bottom' : 'border-bottom-primary'"
            ></div>

            <div class="p-grid g-margin-x" *ngIf="!isGroupUser">
              <div class="p-col-6 p-py-0">
                <div class="text-size-14 text-bold">
                  {{ corporateCashflowForecastData.corporateId }}
                </div>
                <div class="text-size-12">{{ 'CIF ID' | apsTranslate }}</div>
              </div>
              <div class="p-col-6 p-py-0">
                <div class="text-size-14 text-bold">
                  {{ corporateCashflowForecastData.accounts.length }}
                </div>
                <div class="text-size-12">{{ 'Accounts' | apsTranslate }}</div>
              </div>
            </div>

            <div class="p-grid g-margin-x" *ngIf="isGroupUser">
              <div class="p-col-6 p-py-0">
                <div class="text-size-14 text-bold">
                  {{ groupCashflowForecastData.corporates.length }}
                </div>
                <div class="text-size-12">{{ 'No of Corporates' | apsTranslate }}</div>
              </div>
              <div class="p-col-6 p-py-0">
                <div class="text-size-14 text-bold">
                  {{ groupCashflowForecastData.noOfAccounts }}
                </div>
                <div class="text-size-12">{{ 'Accounts' | apsTranslate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-md-9 p-sm-12 p-col-12">
          <div class="p-grid">
            <div class="p-md-7 p-sm-12 p-col-12">
              <div class="background-color-dark-3 p-p-2 border-radius-4 aps-h-100p">
                <div class="text-semi-bold text-size-14 p-px-2 p-py-1">
                  <span *ngIf="isGroupUser">{{ 'Group' | apsTranslate }}</span>
                  {{ 'Cashflow Overview' | apsTranslate }}
                </div>
                <div class="p-grid">
                  <div class="p-md-4 p-sm-6 p-col-6 p-py-0 p-my-md-2 p-my-sm-0 p-my-0">
                    <div class="text-size-16 text-bold">
                      <app-base-currency
                        [amount]="
                          isGroupUser
                            ? groupCashflowForecastData.totalCashInFlow
                            : corporateCashflowForecastData.totalCashInFlow
                        "
                        [currency]="currency"
                        digitsInfo="1.0-0"
                      ></app-base-currency>
                    </div>
                    <div class="text-size-12 p-py-1">{{ 'Total Cash Inflow' | apsTranslate }}</div>
                    <div class="label-with-icon-container">
                      <div class="icon">
                        <app-icon
                          class="inline-block"
                          style="margin-top: -5px"
                          icon="fa-chart-line"
                          styleClasses="text-color-success text-size-10"
                        ></app-icon>
                      </div>
                      <div class="label text-size-10 text-light">
                        {{ '1% v/s Last year' | apsTranslate }}
                      </div>
                    </div>
                  </div>
                  <div
                    class="p-md-4 p-sm-6 p-col-6 p-py-0 p-my-md-2 p-my-sm-0 p-my-0 border-left border-right no-border-on-mobile"
                  >
                    <div class="text-size-16 text-bold">
                      <app-base-currency
                        [amount]="
                          isGroupUser
                            ? groupCashflowForecastData.totalCashOutFlow
                            : corporateCashflowForecastData.totalCashOutFlow
                        "
                        [currency]="currency"
                        digitsInfo="1.0-0"
                      ></app-base-currency>
                    </div>
                    <div class="text-size-12 p-py-1">{{ 'Total Cash Outflow' | apsTranslate }}</div>
                    <div class="label-with-icon-container">
                      <div class="icon">
                        <app-icon
                          class="inline-block"
                          style="margin-top: -5px"
                          icon="fa-chart-line-down"
                          styleClasses="text-color-danger text-size-10"
                        ></app-icon>
                      </div>
                      <div class="label text-size-10 text-light">
                        {{ '1% v/s Last year' | apsTranslate }}
                      </div>
                    </div>
                  </div>
                  <div class="p-md-4 p-sm-12 p-col-12 p-py-0 p-my-md-2 p-my-sm-0 p-my-0">
                    <div class="text-size-16 text-bold">
                      <app-base-currency
                        [amount]="
                          isGroupUser
                            ? groupCashflowForecastData.totalNetInFlow
                            : corporateCashflowForecastData.totalNetInFlow
                        "
                        [currency]="currency"
                        digitsInfo="1.0-0"
                      ></app-base-currency>
                    </div>
                    <div class="text-size-12 p-py-1">{{ 'Net Inflow' | apsTranslate }}</div>
                    <div class="label-with-icon-container">
                      <div class="icon">
                        <app-icon
                          class="inline-block"
                          style="margin-top: -5px"
                          icon="fa-chart-line"
                          styleClasses="text-color-success text-size-10"
                        ></app-icon>
                      </div>
                      <div class="label text-size-10 text-light">
                        {{ '1% v/s Last year' | apsTranslate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-md-5 p-sm-12 p-col-12">
              <app-insights
                insightsUrl="dummyServer/json/commons/private/insights/cashflowForecast"
                height="82"
              >
              </app-insights>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid p-pt-md-4 p-pt-sm-3 p-pt-3" *ngIf="isGroupUser">
      <div class="p-col-12 p-p-0">
        <div class="left-right-container">
          <div class="left-container">
            <div class="text-size-16 text-bold text-color-dark-shade-1">
              {{ 'Corporates' | apsTranslate }}
            </div>
          </div>
          <div class="right-container">
            <div class="inline-items">
              <div class="item p-pr-3 p-pt-1">
                <div class="text-size-12">
                  {{ 'Showing' | apsTranslate }} {{ getNoOfCorporatesVisibleOnScreen() }}
                  {{ 'of' | apsTranslate }}
                  {{ groupCashflowForecastData.corporates.length }}
                </div>
              </div>
              <div class="item p-pr-2">
                <div class="scroll-btn" (click)="corporatesContainerScrollLeft()">
                  <app-icon
                    icon="fa-chevron-left"
                    class="app-icon"
                    rtlIcon="fa-chevron-right"
                  ></app-icon>
                </div>
              </div>
              <div class="item">
                <div class="scroll-btn" (click)="corporatesContainerScrollRight()">
                  <app-icon
                    icon="fa-chevron-right"
                    class="app-icon"
                    rtlIcon="fa-chevron-left"
                  ></app-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          #corporatesContainer
          class="inline-items p-mt-2 p-p-1 aps-w-100p overflow-scroll hide-scroll"
        >
          <div class="item" *ngFor="let corporate of groupCashflowForecastData.corporates">
            <div
              class="aps-card aps-w-300 border-radius-4 p-mr-3 p-p-3"
              [ngClass]="{
                'aps-filled-card-white border-primary':
                  corporate.corporateId === corporateCashflowForecastData.corporateId
              }"
              (click)="changeCorporate(corporate)"
            >
              <div class="left-right-container">
                <div class="left-container">
                  <div class="">
                    <img src="./../../../../{{ corporate.logo }}" class="img-35-x-27" alt="" />
                  </div>
                </div>
                <div class="right-container">
                  <app-currency-select-dropdown
                    selectStyleClass="select"
                    [selectedCurrency]="currency"
                  ></app-currency-select-dropdown>
                </div>
              </div>
              <div class="text-size-16 text-color-dark-shade-1 text-semi-bold">
                {{ corporate.name }}
              </div>

              <div class="border-bottom-primary p-my-md-3 p-my-sm-2 p-my-2"></div>
              <div class="p-grid g-margin-x">
                <div class="p-col-6 p-py-0">
                  <div class="text-size-14 text-bold">
                    {{ corporate.corporateId }}
                  </div>
                  <div class="text-size-12">{{ 'CIF ID' | apsTranslate }}</div>
                </div>
                <div class="p-col-6 p-py-0">
                  <div class="text-size-14 text-bold">
                    {{ corporate.accounts.length }}
                  </div>
                  <div class="text-size-12">{{ 'Accounts' | apsTranslate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="aps-card p-p-2 p-my-3">
      <div class="p-grid">
        <div class="p-md-3 p-sm-12 p-col-12 p-pr-3">
          <div class="left-right-container">
            <div class="left-container">
              <div class="text-size-16 text-semi-bold">
                {{ 'Forecast Period' | apsTranslate }}
              </div>
            </div>
            <div class="right-container">
              <aps-custom-select
                [showLabel]="false"
                [data]="forecastPeriodOptions"
                [(ngModal)]="selectedForecastPeriodOptions"
                [value]="selectedForecastPeriodOptions"
                (change)="onChangeForecastPeriodOption($event.id, forecastPeriodCalender)"
              ></aps-custom-select>
            </div>
          </div>
          <!-- <div class="inline-items">
            <div class="item p-mr-2" *ngFor="let fp of forecastPeriodOptions">
              <button
                class="btn btn-sm btn-primary"
                [ngClass]="{ 'btn-primary': selectedForecastPeriodOptions == fp }"
                (click)="onChangeForecastPeriodOption(fp)"
              >
                {{ fp }}
              </button>
            </div>
          </div> -->
          <div class="p-pt-2">
            <app-aps-calender
              label="Select Period"
              [showIcon]="true"
              selectionMode="range"
              #forecastPeriodCalender
              numberOfMonths="2"
              [(ngModel)]="forecastPeriod"
              (change)="onChangeForecastPeriod()"
            ></app-aps-calender>
          </div>
          <div class="inline-items">
            <div class="item text-size-10 p-py-1 p-pr-1">
              {{ 'Showing forecast for' | apsTranslate }}
            </div>
            <div
              class="item background-color-primary-light-shade-2 border-radius-4 p-p-1 text-size-10"
            >
              <span *ngIf="selectedForecastPeriodOptions != forecastPeriodOptions[2].id">
                {{ selectedForecastPeriodOptions | apsTranslate }}
              </span>
              <span *ngIf="selectedForecastPeriodOptions == forecastPeriodOptions[2].id">
                {{ '6 Months' | apsTranslate }}
              </span>
            </div>
          </div>
        </div>
        <div class="p-md-9 p-sm-12 p-col-12 p-p-0">
          <div class="p-grid">
            <div class="p-md-9 p-sm-12 p-col-12 p-p-0">
              <div class="p-grid">
                <div
                  class="p-md-6 p-sm-12 p-col-12 p-py-0 p-my-2 border-left border-right no-border-on-mobile"
                >
                  <div class="text-size-14 text-semi-bold p-px-2">
                    {{ 'Cash Inflow Distribution' | apsTranslate }}
                  </div>
                  <app-pie-chart
                    [options]="corporateCashflowForecastData.cashInFlowDistributionChartOptions"
                    webHeight="130"
                    mobileHeight="200"
                  ></app-pie-chart>
                </div>
                <div
                  class="p-md-6 p-sm-12 p-col-12 p-py-0 p-my-2 border-left border-right no-border-on-mobile"
                >
                  <div class="text-size-14 text-semi-bold p-px-2">
                    {{ 'Cash Outflow Distribution' | apsTranslate }}
                  </div>
                  <app-pie-chart
                    [options]="corporateCashflowForecastData.cashOutFlowDistributionChartOptions"
                    webHeight="130"
                    mobileHeight="200"
                  ></app-pie-chart>
                </div>
              </div>
            </div>
            <div class="p-md-3 p-sm-12 p-col-12 p-pl-3">
              <div class="background-color-dark-3 border-radius-4 p-p-3">
                <div class="text-size-14 text-semi-bold">{{ 'Quick Actions' | apsTranslate }}</div>
                <div class="p-mt-1 text-size-12 text-color-primary text-underline">
                  <div class="p-py-1">{{ 'Book Forward Contract' | apsTranslate }}</div>
                  <div class="p-py-1">{{ 'Start SIP Book' | apsTranslate }}</div>
                  <div class="p-py-1">{{ 'Recurring Deposits' | apsTranslate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="left-right-container">
      <div class="left-container text-size-16 text-bold p-pt-2">
        {{ 'Accounts' | apsTranslate }} ({{ corporateCashflowForecastData.accounts.length }})
      </div>
      <div class="right-container">
        <div class="aps-search-container-3">
          <input
            type="text"
            class="aps-search-input"
            placeholder="Enter keyword to search"
            [(ngModel)]="searchValue"
          />
          <div class="search-icon">
            <app-icon icon="fa-search"></app-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid g-margin-x">
      <ng-container *ngFor="let account of corporateCashflowForecastData.accounts">
        <div class="p-col-12" *ngIf="isShowAccount(account)">
          <div class="aps-card">
            <div class="p-grid p-p-2">
              <div class="p-md-2 p-sm-12 p-col-12">
                <div class="text-size-16 text-semi-bold">{{ account.accountTitle }}</div>
              </div>
              <div class="p-md-8 p-sm-12 p-col-12 p-p-0">
                <div class="p-grid">
                  <div
                    class="p-md-4 p-sm-12 p-col-12 p-px-md-3 p-px-sm-2 p-px-2 p-py-md-2 p-py-sm-1 p-py-0 border-right no-border-on-mobile"
                  >
                    <span
                      class="inline-block p-mb-md-2 p-mb-sm-2 p-mb-2 background-color-primary-light-shade-2 border-radius-4 p-py-1 p-px-2 text-size-12"
                    >
                      {{ account.accountNumber }}
                    </span>
                  </div>
                  <div
                    class="p-md-4 p-sm-12 p-col-12 p-px-md-3 p-px-sm-2 p-px-2 p-py-md-2 p-py-sm-1 p-py-0"
                  >
                    <span class="inline-block text-size-12 text-semi-bold p-mr-2">{{
                      'Opening Balance' | apsTranslate
                    }}</span>
                    <span class="inline-block text-size-14 text-bold">
                      <app-base-currency
                        [amount]="account.openingBalance"
                        display="symbol"
                        [currency]="currency"
                        digitsInfo="1.0-0"
                      ></app-base-currency>
                    </span>
                  </div>
                  <div
                    class="p-md-4 p-sm-12 p-col-12 p-px-md-3 p-px-sm-2 p-px-2 p-py-md-2 p-py-sm-1 p-py-0"
                  >
                    <span class="inline-block text-size-12 text-semi-bold p-mr-2">{{
                      'Closing Balance' | apsTranslate
                    }}</span>
                    <span class="inline-block text-size-14 text-bold">
                      <app-base-currency
                        [amount]="account.closingBalance"
                        display="symbol"
                        [currency]="currency"
                        digitsInfo="1.0-0"
                      ></app-base-currency>
                    </span>
                  </div>
                </div>
              </div>
              <div class="p-md-2 p-sm-12 p-col-12 p-pt-md-1 p-pt-sm-0 p-pt-0 p-pb-0">
                <div class="left-right-container">
                  <div class="left-container">
                    <button class="btn btn-md btn-tertiary" (click)="viewDetails(account)">
                      {{ 'VIEW DETAILS' | apsTranslate }}
                    </button>
                  </div>
                  <div class="right-container p-pt-2">
                    <app-icon
                      [icon]="account.show ? 'fa-chevron-up' : 'fa-chevron-down'"
                      styleClasses="pointer text-size-14"
                      (click)="account.show = !account.show"
                    ></app-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-grid p-p-2 border-top" *ngIf="account.show">
              <div class="p-md-2 p-sm-12 p-col-12">
                <div class="background-color-dark-3 border-radius-4 p-p-2">
                  <div class="p-grid">
                    <div class="p-col-12 p-px-2 p-py-md-2 p-py-sm-0 p-py-0">
                      <div class="text-size-16 text-semi-bold">
                        {{ 'Cashflow Overview' | apsTranslate }}
                      </div>
                    </div>
                    <div class="p-md-12 p-sm-6 p-col-6 p-px-2 p-py-md-2 p-py-sm-0 p-py-0">
                      <div class="p-pb-md-2 p-pb-sm-0 p-pb-0">
                        <div class="text-size-16 text-bold">
                          <app-base-currency
                            [amount]="account.totalCashInFlow"
                            display="symbol"
                            [currency]="currency"
                            digitsInfo="1.0-0"
                          ></app-base-currency>
                        </div>
                        <div class="text-size-12 p-py-1">
                          {{ 'Total Cash Inflow' | apsTranslate }}
                        </div>
                        <div class="label-with-icon-container">
                          <div class="icon">
                            <app-icon
                              class="inline-block"
                              style="margin-top: -5px"
                              icon="fa-chart-line"
                              styleClasses="text-color-success text-size-10"
                            ></app-icon>
                          </div>
                          <div class="label text-size-10 text-light">
                            {{ '1% v/s Last year' | apsTranslate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-md-12 p-sm-6 p-col-6 p-px-2 p-py-md-2 p-py-sm-0 p-py-0">
                      <div
                        class="border-top border-bottom no-border-on-mobile p-pt-md-3 p-pt-sm-0 p-pt-0 p-pb-md-4 p-pb-sm-2 p-pb-2"
                      >
                        <div class="text-size-16 text-bold">
                          <app-base-currency
                            [amount]="account.totalCashOutFlow"
                            display="symbol"
                            [currency]="currency"
                            digitsInfo="1.0-0"
                          ></app-base-currency>
                        </div>
                        <div class="text-size-12 p-py-1">
                          {{ 'Total Cash Outflow' | apsTranslate }}
                        </div>
                        <div class="label-with-icon-container">
                          <div class="icon">
                            <app-icon
                              class="inline-block"
                              style="margin-top: -5px"
                              icon="fa-chart-line"
                              styleClasses="text-color-success text-size-10"
                            ></app-icon>
                          </div>
                          <div class="label text-size-10 text-light">
                            {{ '1% v/s Last year' | apsTranslate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12 p-px-2 p-py-md-2 p-py-sm-0 p-py-0">
                      <div class="p-pb-md-1 p-pb-sm-0 p-pb-0">
                        <div class="text-size-16 text-bold">
                          <app-base-currency
                            [amount]="account.totalNetInFlow"
                            display="symbol"
                            [currency]="currency"
                            digitsInfo="1.0-0"
                          ></app-base-currency>
                        </div>
                        <div class="text-size-12 p-py-1">{{ 'Net Cashflow' | apsTranslate }}</div>
                        <div class="label-with-icon-container">
                          <div class="icon">
                            <app-icon
                              class="inline-block"
                              style="margin-top: -5px"
                              icon="fa-chart-line"
                              styleClasses="text-color-success text-size-10"
                            ></app-icon>
                          </div>
                          <div class="label text-size-10 text-light">
                            {{ '1% v/s Last year' | apsTranslate }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-md-10 p-sm-12 p-col-12">
                <div class="border border-radius-4">
                  <div class="left-right-container p-p-3">
                    <div class="left-container">
                      <div class="inline-item">
                        <div class="inline-block text-size-16 p-mr-3 text-semi-bold">
                          {{ 'Cash Flow Forecast Overview' | apsTranslate }}
                        </div>
                        <div class="item inline-block p-mr-3 mt--2">
                          <p-radioButton
                            label="Cash Flow"
                            value="Cash Flow"
                            labelStyleClass="text-size-16"
                            [(ngModel)]="account.cashFlowForecastOverview"
                          ></p-radioButton>
                        </div>
                        <div class="item inline-block mt--2">
                          <p-radioButton
                            label="Inflow/Outflow Distribution"
                            value="Inflow/Outflow Distribution"
                            labelStyleClass="text-size-16"
                            [(ngModel)]="account.cashFlowForecastOverview"
                          ></p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="right-container">
                      <div class="background-color-primary-light-shade-2 p-px-1 pointer">
                        <app-icon
                          [icon]="'fa-expand'"
                          styleClasses="text-color-primary"
                          (click)="onExpandAccount(account)"
                        ></app-icon>
                      </div>
                    </div>
                  </div>
                  <div class="p-grid border-top p-p-2">
                    <ng-container *ngIf="account.cashFlowForecastOverview === 'Cash Flow'">
                      <div class="p-md-5 p-sm-12 p-col-12">
                        <div class="aps-h-272 overflow-scroll border border-radius-4">
                          <app-ag-grid-listing
                            [gridOptions]="{ rowModelType: 'clientSide', pagination: false }"
                            [colDefUrl]="colDefsUrl"
                            [rowData]="account.cashflowGridData"
                            [frameworkComponents]="frameworkComponents"
                            [context]="{ componentParent: this }"
                          ></app-ag-grid-listing>
                        </div>
                      </div>
                      <div class="p-md-7 p-sm-12 p-col-12">
                        <div class="border border-radius-4">
                          <div class="left-right-container p-px-2 p-pt-2">
                            <div class="left-container"></div>
                            <div class="right-container">
                              <div
                                class="inline-items text-size-12 background-color-dark-3 border-radius-4 overflow-hidden"
                              >
                                <div
                                  class="item p-px-2 p-py-1 pointer"
                                  [ngClass]="{
                                    'background-color-primary text-color-inverted':
                                      account.optionType == 'Monthly'
                                  }"
                                  (click)="account.optionType = 'Monthly'"
                                >
                                  {{ 'Monthly' | apsTranslate }}
                                </div>
                                <div
                                  class="item p-px-2 p-py-1 pointer"
                                  [ngClass]="{
                                    'background-color-primary text-color-inverted':
                                      account.optionType == 'Quarterly'
                                  }"
                                  (click)="account.optionType = 'Quarterly'"
                                >
                                  {{ 'Quarterly' | apsTranslate }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="" style="height: 240px">
                            <ag-charts-angular
                              [options]="account.cashflowChartOptions"
                            ></ag-charts-angular>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container
                      *ngIf="account.cashFlowForecastOverview === 'Inflow/Outflow Distribution'"
                    >
                      <div class="p-md-6 p-sm-12 p-col-12 p-py-0 p-my-2 border-right">
                        <div class="text-size-14 text-semi-bold p-px-2">
                          {{ 'Cash Inflow Distribution' | apsTranslate }}
                        </div>
                        <app-pie-chart
                          [options]="account.cashInFlowDistributionChartOptions"
                          webHeight="250"
                          mobileHeight="300"
                        ></app-pie-chart>
                      </div>
                      <div class="p-md-6 p-sm-12 p-col-12 p-py-0 p-my-2 border-left">
                        <div class="text-size-14 text-semi-bold p-px-2">
                          {{ 'Cash Outflow Distribution' | apsTranslate }}
                        </div>
                        <app-pie-chart
                          [options]="account.cashOutFlowDistributionChartOptions"
                          webHeight="250"
                          mobileHeight="300"
                        ></app-pie-chart>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #loadingTemplate>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
