<ng-container *ngIf="!loading; else loadingTemplate">
  <div class="text-size-14 text-color-dark-shade-1 p-pb-2">Countries ({{ countries.length }})</div>

  <div class="aps-card aps-h-400 mobile-h-100p p-mb-3">
    <div class="p-grid">
      <div class="p-md-3 p-sm-12 p-col-12 p-p-0">
        <div class="aps-card aps-h-400 mobile-h-100p overflow-y-scroll overflow-x-hidden">
          <div
            class="p-p-3 border-bottom"
            *ngFor="let country of countries"
            [ngClass]="{ 'border-primary border-radius-4 ': country === activeCountry }"
            (click)="changeCountry(country)"
          >
            <div class="label-with-icon-container">
              <div class="icon">
                <img src="assets/images/flag/{{ country.flag }}" alt="country-flag-icon" />
              </div>
              <div class="label">
                <div class="text-size-14 text-semi-bold p-mb-1">{{ country.country }}</div>
                <div class="text-size-12 p-mb-2">
                  <span class="inline-block">{{ country.corporates.length }} Corporates</span>
                  <span class="inline-block p-px-2"> |</span>
                  <span class="inline-block">{{ country.totalAccounts }} Accounts</span>
                </div>
                <div class="text-size-12 text-bold">
                  <app-base-currency
                    [amount]="country.balance"
                    [currency]="country.currency"
                    display="code"
                    digitsInfo="1.0-0"
                  ></app-base-currency>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-md-6 p-sm-12 p-col-12 p-p-0">
        <div class="countries-map aps-h-400">
          <div class="image">
            <img
              class="pointer"
              [ngStyle]="{
                top: +activeCountry.top * 100 + '%',
                left: +activeCountry.left * 100 + '%'
              }"
              src="assets/images/map/Pointer.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="p-md-3 p-sm-12 p-col-12 p-p-0">
        <div class="aps-card p-p-3">
          <div class="left-right-container">
            <div class="left-container">
              <div class="text-size-16 text-color-dark-shade-1 text-semi-bold">
                {{ activeCountry.country }}
              </div>
            </div>
            <div class="right-container">
              <div class="pointer" routerLink="/accountServices/services/accountSummary">
                <app-icon icon="fa-external-link-square" styleClasses="text-size-16"></app-icon>
              </div>
            </div>
          </div>

          <div class="p-grid g-margin-x">
            <div class="p-col-12">
              <div class="background-color-dark-3 aps-p-12">
                <div class="text-size-14 text-bold p-mb-2">
                  <app-base-currency
                    [amount]="activeCountry.balance"
                    [currency]="activeCountry.currency"
                    display="code"
                    digitsInfo="1.0-0"
                  ></app-base-currency>
                </div>
                <div class="text-size-12">Net Balance</div>
              </div>
            </div>
            <div class="p-col-12">
              <div class="background-color-success-light aps-p-12">
                <div class="text-size-14 text-bold text-color-success">
                  <app-base-currency
                    [amount]="activeCountry.balance * 0.75"
                    [currency]="activeCountry.currency"
                    display="code"
                    digitsInfo="1.0-0"
                  ></app-base-currency>
                </div>
                <div class="text-size-12">Assets</div>
              </div>
            </div>
            <div class="p-col-12">
              <div class="background-color-danger-light aps-p-12">
                <div class="text-size-14 text-bold text-color-danger">
                  <app-base-currency
                    [amount]="activeCountry.balance * 0.5"
                    [currency]="activeCountry.currency"
                    display="code"
                    digitsInfo="1.0-0"
                  ></app-base-currency>
                </div>
                <div class="text-size-12">Liabilities</div>
              </div>
            </div>
          </div>
          <div class="heading text-size-12 p-mt-2">Corporates</div>
          <div class="aps-h-70 mobile-h-100p overflow-y-scroll overflow-x-hidden">
            <div class="p-pt-2" *ngFor="let corporate of activeCountry.corporates">
              <div class="label-with-icon-container">
                <div class="icon">
                  <img
                    src="assets/images/{{ corporate.corporateImage }}"
                    alt=""
                    class="img-35-x-35"
                  />
                </div>

                <div class="label">
                  <div class="heading text-size-14 text-semi-bold">
                    {{ corporate.corporateName }}
                  </div>
                  <div class="text-size-10 p-mt-1">{{ corporate.totalAccounts }} Accounts</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
