.pagination-container {
  padding: 16px;

  .page-size-container {
    white-space: nowrap;

    .page-size-label {
      display: inline-block;
    }

    .page-size-select {
      border: none;
      border-bottom: 1px solid var(--background-color-dark-7);
      color: var(--text-color);
      outline: none;
    }
  }

  .pagination-wrapper {
    display: block;
    white-space: nowrap;

    .page-content {
      display: inline-block;
      vertical-align: top;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      font-size: 0.75rem;
      color: var(--text-color-dark-shade-1);
      text-align: center;
      padding-top: 4px;
      margin: 0 4px;
      cursor: pointer;

      i,
      .app-icon {
        font-size: 0.75rem;
      }
    }

    .page-content-active {
      background-color: var(--primary-color);
      color: var(--inverted-text-color);
    }
  }
}

.aps-hide {
  height: 0px !important;
}
