.success {
  background-color: var(--primary-color);
  color: var(--inverted-text-color);
}

.danger {
  background-color: var(--color-error-transparent-14);
  color: var(--text-color-dark-shade-1);
}
