<div class="p-grid p-p-md-4 p-p-sm-3 p-p-2">
  <div class="p-md-4 p-sm-12 p-col-12">
    <app-draft-application></app-draft-application>
  </div>
  <div class="p-md-4 p-sm-12 p-col-12">
    <app-new-application></app-new-application>
  </div>
  <div class="p-md-4 p-sm-12 p-col-12">
    <app-track-application></app-track-application>
  </div>
</div>

<div class="p-grid p-p-4">
  <div class="p-col-12 p-lg-4">
    <div class="info-card">
      <div class="icon">
        <i class="fab fa-slack text-size-20 text-color-light-shade-1"></i>
      </div>
      <div class="label">
        <div class="text-size-18 text-bold text-color-primary">
          {{ 'lbl_product_enrollment' | translate }}
        </div>
        <div class="text-size-16 text-color-dark-shade-2">
          <span class="link">{{ 'msg_click_here' | translate }}</span>
          {{ 'lbl_to_view_all_the_product_enrolment_charges' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-lg-4">
    <div class="info-card">
      <div class="icon">
        <i class="far fa-map text-size-20 text-color-light-shade-1"></i>
      </div>
      <div class="label">
        <div class="text-size-18 text-bold text-color-primary">
          {{ 'lbl_enrolled_customers' | translate }}
        </div>
        <div class="text-size-16 text-color-dark-shade-2">
          <span class="text-bold"> {{ 'lbl_888_enrolled' | translate }} </span>
          {{ 'lbl_through_self_onboarding' | translate }}
          <br />
          <span class="text-bold">{{ 'lbl_2000_customers' | translate }}</span>
          {{ 'lbl_accessed_this_page' | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-lg-4"></div>
</div>

<!-- <div class="footer-container p-mt-3">
  <div class="p-grid">
    <div class="p-col-12 p-lg-4">
      <div class="download-app-container p-p-4">
        <div class="text-size-24 text-color-inverted text-bold">Download our app now!</div>
        <div class="p-mt-4">
          <img class="p-mr-3" src="./../../../assets/images/img/app-store.png" alt="" />
          <img src="./../../../assets/images/img/play-store.png" alt="" />
        </div>
      </div>
    </div>
    <div class="p-col-12 p-lg-4"></div>
    <div class="p-col-12 p-lg-4">
      <div class="mobile-container">
        <img src="./../../../assets/images/mask/iphome-8-screen-display.png" alt="" />
      </div>
    </div>
  </div>
</div> -->
