<div class="container">
  <div class="p-grid g-margin-x">
    <div class="p-col-12 p-md-7 p-sm-12">
      <div class="p-grid">
        <div class="p-col-12 p-p-0">
          <app-dynamic-search
            #dynamicSearch
            [(entityName)]="searchByEntityName"
            (onSearch)="getRecords($event)"
            (onFiltersReady)="onDynamicFiltersReady()"
            [preFillFilters]="unregisteredBillPaymentService.filters"
          >
          </app-dynamic-search>
        </div>
      </div>
    </div>

    <div class="p-col-12 p-md-5 p-sm-12">
      <div class="aps-card aps-h-100p p-px-3 p-pb-3">
        <div class="aps-card-header">
          <div class="left-right-container">
            <div class="left-container">
              <div class="text-size-16px text-color-dark-shade-1 text-bold p-py-3">
                Recent Payments ({{ recentPayments.length }})
              </div>
            </div>
            <div class="right-container p-py-2">
              <button class="btn btn-md btn-tertiary" (click)="goToHistory()">
                BILL PAYMENT HISTORY<app-icon class="p-ml-3" icon="fa-external-link"></app-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="aps-card-body">
          <div class="p-px-0 p-pt-3 p-pb-1 border-bottom" *ngFor="let payment of recentPayments">
            <div class="left-right-container">
              <div class="left-container">
                <div class="text-size-14 text-color-success text-bold">
                  {{ payment.billerName }} - {{ payment.consumer }}
                </div>
                <div class="text-size-12">Payment Date : {{ payment.modifiedSysOn }}</div>
              </div>
              <div class="right-container">
                <div class="text-size-12 text-color-dark-shade-1 text-bold">
                  <app-base-currency
                    [amount]="payment.totalPayableAmount"
                    [showFlag]="true"
                  ></app-base-currency>
                </div>
                <div class="text-right">
                  <button class="btn btn-md btn-tertiary" (click)="initiate(payment)">
                    INITIATE
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
