.action-btn-section {
  .action-btn {
    padding: 0 2px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      height: 20px;
      width: 1px;
      top: 9px;
      box-shadow: inset -1px 0 0 rgb(100 121 143 / 19%);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
