<div class="container">
    <ng-container>
        <div class="p-grid g-margin-x">
            <div class="p-col-12 p-md-3 p-col-lg-3">
                <div class="aps-card aps-filled-card-primary-sm pointer p-px-3 p-py-4 p-mb-3"
                    routerLink="/collections/process/scheduledRequest">
                    <div class="text-color-inverted text-size-16 text-center">
                        {{ 'New Schedule Request' | apsTranslate }}
                    </div>
                </div>
                <div class="aps-card border-primary pointer p-px-3 p-py-4"
                    routerLink="/collections/process/adhocRequest">
                    <div class="text-color-primary text-center text-size-16">
                        {{ 'Adhoc Request' | apsTranslate }}
                    </div>
                </div>
            </div>



            <div class="p-col-12 p-md-6 p-lg-6 p-mb-2">
                <app-backdrop [zIndex]="10" [background]="'rgba(0, 0, 0, 0.5)'" *ngIf="formData.quickReq"
                    (click)="onBackdrop.emit()"></app-backdrop>

                <div class="aps-card p-pt-2 p-px-2" [ngClass]="{'payment-details-container' : formData.quickReq}">
                    <form #quickPayForm="ngForm">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-3 p-lg-3 p-py-0">
                                <div class="text-bold text-size-16">{{ 'Quick Request' | apsTranslate }}</div>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0">
                                <div class="left-right-container no-left-right-container-on-mobile">
                                    <div class="left-container">
                                        <p-radioButton class="p-mr-3" label="Pickup" value="Pickup" name="Pickup"
                                            [(ngModel)]="formData.quickReq">
                                        </p-radioButton>
                                        <p-radioButton label="Drop" value="drop" name="Drop"
                                            [(ngModel)]="formData.quickReq"></p-radioButton>
                                    </div>
                                    <div class="right-container"> </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0">
                                <aps-custom-select label="Product" id="product" name="product"
                                    [value]="formData.product" [(ngModel)]="formData.product"
                                    [disabled]="!formData.quickReq"
                                    dataUrl="collections/process/scheduledRequest/private/dropdown/product"
                                    [required]="true">
                                </aps-custom-select>
                            </div>
                            <div class="p-col-12 p-md-5 p-lg-5 p-py-0">
                                <app-search-modal [(isShow)]="showModal"
                                    colDefUrl="collections/process/scheduledRequest/private/pickupColDefs"
                                    rowDefUrl="collections/process/scheduledRequest/private/pickupData"
                                    header="Pickup Point Name" (onSelection)="onShowModal($event)">
                                </app-search-modal>
                                <aps-form-input (onRightIcon)="showModal = true" [(ngModel)]="formData.pickupPointName"
                                    [disabled]="!formData.quickReq" id="pickupPointName"
                                    [label]="'Pickup Point Name' | apsTranslate" name="pickupPointName"
                                    rightIcon="fa-search"></aps-form-input>
                            </div>
                            <div class="p-col-1 p-md-1 p-lg-1 p-mt-3 p-pl-3">
                                <app-icon icon="fa-info-circle" (mouseenter)="fdAmountHover.toggle($event)"
                                    (mouseleave)="fdAmountHover.toggle($event)"></app-icon>
                                <p-overlayPanel [dismissable]="false" #fdAmountHover>
                                    <ng-template pTemplate>
                                        <div class="p-col-12 p-p-0">
                                            <span class="text-size-12 text-semi-bold">Pickup Point Code :</span>
                                            <span
                                                class="text-color-dark-shade-1 text-size-12 p-pl-2">{{formData.pickupPointCode}}</span>
                                        </div>
                                        <div class="p-col-12 p-p-0">
                                            <span class="text-size-12 text-semi-bold">Location :</span>
                                            <span
                                                class="text-color-dark-shade-1 text-size-12 p-pl-2">{{formData.location}}</span>
                                        </div>
                                        <div class="p-col-12 p-p-0">
                                            <span class="text-size-12 text-semi-bold">Address 1 :</span>
                                            <span
                                                class="text-color-dark-shade-1 text-size-12 p-pl-2">{{formData.address1}}</span>
                                        </div>
                                        <div class="p-col-12 p-p-0">
                                            <span class="text-size-12 text-semi-bold">Address 2 :</span>
                                            <span
                                                class="text-color-dark-shade-1 text-size-12 p-pl-2">{{formData.address2}}</span>
                                        </div>
                                        <div class="p-col-12 p-p-0">
                                            <span class="text-size-12 text-semi-bold">Start Date :</span>
                                            <span
                                                class="text-color-dark-shade-1 text-size-12 p-pl-2">{{formData.startDate}}</span>
                                        </div>
                                        <div class="p-col-12 p-p-0">
                                            <span class="text-size-12 text-semi-bold">End Date :</span>
                                            <span
                                                class="text-color-dark-shade-1 text-size-12 p-pl-2">{{formData.endDate}}</span>
                                        </div>
                                    </ng-template>
                                </p-overlayPanel>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0">
                                <aps-form-input label="Name" id="name" name="name" [required]="true"
                                    [(ngModel)]="formData.name" [disabled]="!formData.quickReq">
                                </aps-form-input>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0">
                                <aps-form-input label="Telephone Number" id="telephoneNumber" name="telephoneNumber"
                                    [required]="true" [(ngModel)]="formData.telephoneNumber"
                                    [disabled]="!formData.quickReq">
                                </aps-form-input>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0" *ngIf="formData.quickReq">
                                <aps-form-input label="Mobile Number" id="mobileNumber" name="mobileNumber"
                                    [required]="true" [(ngModel)]="formData.mobileNumber"
                                    [disabled]="!formData.quickReq">
                                </aps-form-input>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0" *ngIf="formData.quickReq">
                                <aps-form-input label="Email ID" id="emailId" name="emailId" [required]="true"
                                    [(ngModel)]="formData.emailId" [disabled]="!formData.quickReq">
                                </aps-form-input>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0" *ngIf="formData.quickReq">
                                <app-aps-calender name="pickupTime1" id="pickupTime1" label="Pickup Time"
                                    [timeOnly]="true" [(ngModel)]="formData.pickupTime1" rightIcon="fa-trash-alt"
                                    [required]="true"></app-aps-calender>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0" *ngIf="formData.quickReq">
                                <aps-custom-select id="pickupType" name="pickupType" label="Pickup Type"
                                    [value]="formData.pickupType" [(ngModel)]="formData.pickupType"
                                    [disabled]="!formData.quickReq" [required]="true"
                                    dataUrl="collections/process/scheduledRequest/private/dropdown/requestFor">
                                </aps-custom-select>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-6 p-py-0" *ngIf="formData.pickupType === 'One Time'">
                                <app-aps-calender name="PickupDate" id="PickupDate" label="Pickup Date"
                                    [(ngModel)]="formData.PickupDate" rightIcon="fa-trash-alt"
                                    [required]="true"></app-aps-calender>
                            </div>
                        </div>
                        <div class="p-grid" *ngIf="formData.pickupType === 'Recurring'">
                            <div class="p-col-12">
                                <div class="aps-card-header">
                                    <div class="text-size-16 text-bold p-mt-3">Recurrence Pattern</div>
                                </div>
                            </div>
                            <div class="p-col-12">
                                <p-tabView orientation="left">
                                    <p-tabPanel [header]="'Daily' | apsTranslate"
                                        headerStyleClass="text-size-14 text-semi-bold">
                                        <div class="p-grid">
                                            <div class="p-col-12 p-py-0">
                                                <div class="p-col inline-items p-pb-0">
                                                    <div class="item">
                                                        <p-radioButton name="daily" value="dailyEvery" id="option1"
                                                            [(ngModel)]="formData.daily"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">Every</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-form-input [showLabel]="false" name="dailyEvery"
                                                            id="dailyEvery" [(ngModel)]="formData.dailyEvery">
                                                        </aps-form-input>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">Days</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-col-12 p-py-0 p-mt-0">
                                                <div class="p-col inline-items">
                                                    <div class="item">
                                                        <p-radioButton name="daily" value="dailyEveryWeekday"
                                                            [(ngModel)]="formData.daily" id="option2"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">Every
                                                            Weekday</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel [header]="'Weekly' | apsTranslate"
                                        headerStyleClass="text-size-14 text-semi-bold">
                                        <div class="p-grid">
                                            <div class="p-col-12 p-py-0">
                                                <div class="p-col inline-items p-pb-0">
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">Recur
                                                            every</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-form-input [showLabel]="false" name="weeklyRecurEvery"
                                                            id="weeklyRecurEvery"
                                                            [(ngModel)]="formData.weeklyRecurEvery">
                                                        </aps-form-input>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">Week on</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="p-col-12 p-py-0 p-mt-0">
                                                <div class="p-col inline-items">
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">Every Weekday</span>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="p-col-12 p-py-0 p-mt-0 p-pl-5">
                                                <p-checkbox *ngFor="let item of weekList" class="p-mr-3"
                                                    name="{{item.displayName}}" label="{{item.displayName}}"
                                                    [binary]="true" [(ngModel)]="item.checked">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel [header]="'Monthly' | apsTranslate"
                                        headerStyleClass="text-size-14 text-semi-bold">
                                        <div class="p-grid">
                                            <div class="p-col-12 p-py-0">
                                                <div class="p-col inline-items p-pb-0">
                                                    <div class="item">
                                                        <p-radioButton name="monthly" value="dailyEvery" id="option1"
                                                            [(ngModel)]="formData.monthly"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">Day</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-form-input [showLabel]="false" name="monthlyDay"
                                                            id="monthlyDay" [(ngModel)]="formData.monthlyDay">
                                                        </aps-form-input>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">of every</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-form-input [showLabel]="false" name="monthlyOfEvery"
                                                            id="monthlyOfEvery" [(ngModel)]="formData.monthlyOfEvery">
                                                        </aps-form-input>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">month(s)</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-col-12 p-py-0 p-mt-0">
                                                <div class="p-col inline-items">
                                                    <div class="item">
                                                        <p-radioButton name="monthly" value="dailyEveryWeekday"
                                                            [(ngModel)]="formData.monthly" id="option2"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">The</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="week" id="week"
                                                            [(ngModel)]="formData.week" [value]="formData.week"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/week">
                                                        </aps-custom-select>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="weekDays"
                                                            id="weekDays" [(ngModel)]="formData.weekDays"
                                                            [value]="formData.weekDays"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/weekDays">
                                                        </aps-custom-select>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">of every</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-form-input [showLabel]="false" name="monthlyMonths"
                                                            id="monthlyMonths" [(ngModel)]="formData.monthlyMonths">
                                                        </aps-form-input>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">month(s)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel [header]="'Quartely' | apsTranslate"
                                        headerStyleClass="text-size-14 text-semi-bold">
                                        <div class="p-grid">
                                            <div class="p-col-12 p-py-0">
                                                <div class="p-col inline-items p-pb-0">
                                                    <div class="item">
                                                        <p-radioButton name="quarterly" value="quartelyEvery"
                                                            id="option1"
                                                            [(ngModel)]="formData.quarterly"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">Day</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-form-input [showLabel]="false" name="quarterlyDay"
                                                            id="quarterlyDay" [(ngModel)]="formData.quarterlyDay">
                                                        </aps-form-input>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">of every
                                                            Quarter</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-col-12 p-py-0 p-mt-0">
                                                <div class="p-col inline-items">
                                                    <div class="item">
                                                        <p-radioButton name="quarterly" value="quartelyEveryWeekday"
                                                            [(ngModel)]="formData.quarterly"
                                                            id="option2"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">The</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="week" id="week"
                                                            [(ngModel)]="formData.week" [value]="formData.week"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/week">
                                                        </aps-custom-select>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="weekDays"
                                                            id="weekDays" [(ngModel)]="formData.weekDays"
                                                            [value]="formData.weekDays"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/weekDays">
                                                        </aps-custom-select>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">of every
                                                            Quarter</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel [header]="'Yearly' | apsTranslate"
                                        headerStyleClass="text-size-14 text-semi-bold">
                                        <div class="p-grid">
                                            <div class="p-col-12 p-py-0">
                                                <div class="p-col inline-items p-pb-0 p-pt-0 p-pl-0">
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">Recur
                                                            every</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-form-input [showLabel]="false" name="yearlyRecur"
                                                            id="yearlyRecur" [(ngModel)]="formData.yearlyRecur">
                                                        </aps-form-input>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">year(s)</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="p-col-12 p-py-0">
                                                <div class="p-col inline-items p-pb-0">
                                                    <div class="item">
                                                        <p-radioButton name="quarterly" value="quartelyEvery"
                                                            id="option1"
                                                            [(ngModel)]="formData.quarterly"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option1">On</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="yearlyMonthsOn"
                                                            id="yearlyMonthsOn" [(ngModel)]="formData.yearlyMonthsOn"
                                                            [value]="formData.yearlyMonthsOn"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/yearlyMonths">
                                                        </aps-custom-select>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="weekDaysOn"
                                                            id="weekDaysOn" [(ngModel)]="formData.weekDaysOn"
                                                            [value]="formData.weekDaysOn"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/weekDays">
                                                        </aps-custom-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-col-12 p-py-0 p-mt-0">
                                                <div class="p-col inline-items">
                                                    <div class="item">
                                                        <p-radioButton name="quarterly" value="quartelyEveryWeekday"
                                                            [(ngModel)]="formData.quarterly"
                                                            id="option2"></p-radioButton>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">On The</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="week" id="week"
                                                            [(ngModel)]="formData.week" [value]="formData.week"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/week">
                                                        </aps-custom-select>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="weekDays"
                                                            id="weekDays" [(ngModel)]="formData.weekDays"
                                                            [value]="formData.weekDays"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/weekDays">
                                                        </aps-custom-select>
                                                    </div>
                                                    <div class="item p-m-1">
                                                        <span class="p-m-2 text-size-14" for="option2">of</span>
                                                    </div>
                                                    <div class="item p-m-1 width">
                                                        <aps-custom-select [showLabel]="false" name="yearlyMonths"
                                                            id="yearlyMonths" [(ngModel)]="formData.yearlyMonths"
                                                            [value]="formData.yearlyMonths"
                                                            dataUrl="collections/process/scheduledRequest/private/dropdown/yearlyMonths">
                                                        </aps-custom-select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </div>
                        <div class="p-grid p-pt-5" *ngIf="formData.quickReq">
                            <div class="p-col-12 p-md-12 p-lg-12">
                                <div class="left-right-container p-mt-3">
                                    <div class="left-container"></div>
                                    <div class="right-container">
                                        <button class="btn btn-md btn-tertiary p-mr-2" (click)="videoClose()">
                                            {{ 'Cancel' | apsTranslate }}
                                        </button>
                                        <button class="btn btn-md btn-primary" (click)="submit()">
                                            {{ 'Submit' | apsTranslate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-lg-3 p-md-3 p-sm-12 p-mb-2 p-col-12">
                <div class="aps-card p-py-2 p-px-2">
                    <div class="background-color-dark-4 border-radius-4 text-color-dark-shade-1 p-p-2">
                        <div class="text-size-14 text-semi-bold">Insights</div>
                        <div class="aps-h-110 overflow-y-scroll overflow-x-hidden">
                            <div class="label-with-icon-container p-mt-1" *ngFor="let insight of insights">
                                <div class="icon">
                                    <app-icon styleClasses="text-size-12" [icon]="insight.icon"></app-icon>
                                </div>
                                <div class="label text-size-12 white-space-normal p-pt-1">
                                    {{ insight.label }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid g-margin-x">
            <div class="p-col-12 p-md-9 p-col-lg-9">
                <div class="aps-card p-px-2">
                    <div class="p-col-12">
                        <div class="left-right-container">
                            <div class="left-container p-pt-1">
                                <div class="text-bold text-size-16">{{ 'Pickup Schedule' | apsTranslate }}</div>
                            </div>
                            <div class="right-container">
                                <button class="btn btn-md btn-tertiary float-right">
                                    {{ 'Manage Pickup' | apsTranslate }}<app-icon class="p-px-2"
                                        icon="fa-external-link"></app-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-md-4 p-col-lg-4 p-pt-0 p-pr-0">
                            <div class="aps-card border-primary-2px p-py-2 p-px-2">
                                <p-calendar [(ngModel)]="calendarDate" [inline]="true" selectionMode="multiple">
                                    <!-- <ng-template pTemplate="date" let-date>
                                        <span
                                            [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
                                    </ng-template> -->
                                </p-calendar>
                            </div>
                        </div>
                        <div class="p-md-4 p-col-lg-4 p-pt-0 p-px-0" style="z-index: 0 !important;">
                            <div class="aps-card-blur aps-h-100p p-p-1">
                                <div class="p-py-2 p-px-2 borderBottom text-color-primary">Today's Pickup</div>
                                <div [ngClass]="element.label === cashSummaryData.label ? 'background-color-primary-light-shade-2': ''"
                                    *ngFor="let element of menus" class="p-col-12 pointer border-bottom">
                                    <div class="left-right-container no-left-right-container-on-mobile p-py-1 text-size-14"
                                        (click)="onParentMenuSelected(element)">
                                        <div class="left-container">
                                            {{ element.label | apsTranslate }}
                                        </div>
                                        <div class="right-container">
                                            <span class="text-size-14">{{ element.count }}</span>
                                            <app-icon icon="fa-chevron-right" class="p-px-2 text-size-13"></app-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-md-4 p-col-lg-4 p-pt-0 p-pl-0">
                            <div class="aps-card aps-h-100p p-p-2">
                                <div>
                                    <div class="p-pt-1 p-pb-2 p-px-2 text-color-primary">{{ 'Cash Summary' |
                                        apsTranslate }}
                                    </div>
                                    <div class="p-grid p-py-5 border-top">
                                        <div class="p-col-4 text-center">
                                            <div class="text-size-14">
                                                {{cashSummaryData.completed}}
                                            </div>
                                            <div class="text-semi-bold text-size-14">{{ 'Completed' | apsTranslate
                                                }}
                                            </div>
                                        </div>
                                        <div class="p-col-4 text-center border-left border-right">
                                            <div class="text-size-14">
                                                {{cashSummaryData.pending}}
                                            </div>
                                            <div class="text-semi-bold text-size-14">{{ 'Pending' | apsTranslate }}
                                            </div>
                                        </div>
                                        <div class="p-col-4 text-center">
                                            <div class="text-size-14">
                                                {{cashSummaryData.NIL}}
                                            </div>
                                            <div class="text-semi-bold text-size-14">{{ 'NIL Pickup' | apsTranslate
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div footer
                                        class="p-col-12 background-color-primary-light-shade-2 p-mt-2 border-radius-4">
                                        <div class="p-grid text-size-14">
                                            <div class="p-col-6">Total Value</div>
                                            <div class="p-col-6 text-semi-bold">AED {{cashSummaryData.total}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-3 p-col-lg-3">
                <div class="aps-card">
                    <div class="p-col-12">
                        <div class="text-bold text-size-16">{{ 'Upcoming Pickup' | apsTranslate }}</div>
                    </div>
                    <div class="border-radius-6 text-color-normal text-size-14 p-px-2" *ngFor="let pickup of pickups">
                        <div class="label-with-icon-container">
                            <div class="icon text-size-14">
                                <app-icon [icon]="pickup.icon" styleClasses="text-size-14"></app-icon>
                            </div>
                            <div class="label white-space-normal text-bold text-size-14">
                                {{pickup.label}}
                            </div>
                        </div>
                        <div class="p-py-1 p-px-4 text-size-13">
                            Schedule at <span class="text-color-primary">10.30 am on 5 July 23</span> Pickup at <span
                                class="text-color-primary">Standford store</span> by <span
                                class="text-color-primary">Secure Pvt. ltd.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <app-modal [(isShow)]="showSuccessModal" size="sm">
            <div class="left-right-container p-mt-3">
                <div class="left-container"></div>
                <div class="right-container">
                    <app-icon icon="fa-times text-size-16 pointer" (click)="showSuccessModal = false"></app-icon>
                </div>
            </div>
            <div body>
                <div class="text-size-16 text-bold text-color-dark-shade-1">Hide Accessibility Interface?</div>
                <div class="text-size-14 text-color-dark-shade-1 p-mt-3">
                    Please Note: If you choose to hide the accessibility interface, you won't be able to see it
                    anymore, unless you clear your browsing history and data. Are you sure that you wish to hide
                    the interface?
                </div>
            </div>
            <div footer>
                <div class="left-right-container p-mt-3">
                    <div class="left-container"></div>
                    <div class="right-container">

                    </div>
                </div>
            </div>
        </app-modal>
    </ng-container>
</div>