<div class="quick-action-container">
  <div class="quick-action-header">{{ 'Quick Action' | apsTranslate }}</div>
  <div class="quick-actions">
    <div class="action" *ngFor="let action of quickActions">{{ action.displayName }}</div>
    <!-- <div class="action">Single payment</div>
    <div class="action">Add benificiary</div>
    <div class="action">Bulk Payment</div>
    <div class="action">Apply For Lone</div>
    <div class="action">Start Investing</div>
    <div class="action">Create VA</div> -->
  </div>
</div>
