.bkgrnd-0 {
  background-color: var(--chart-3);
}
.bkgrnd-1 {
  background-color: var(--chart-0);
}
.bkgrnd-2 {
  background-color: var(--chart-1);
}
.bkgrnd-3 {
  background-color: var(--chart-2);
}
.bkgrnd-4 {
  background-color: var(--chart-4);
}
.bkgrnd-5 {
  background-color: var(--chart-5);
}
.bkgrnd-6 {
  background-color: var(--chart-6);
}
.bkgrnd-7 {
  background-color: var(--chart-7);
}
.bkgrnd-8 {
  background-color: var(--chart-8);
}
.bkgrnd-9 {
  background-color: var(--chart-9);
}
