.login-form {
  display: block;

  .form-data {
    display: block;
    margin: 13px 0 14px 0;

    .main-heading {
      /*  font: normal normal bold 16px/22px Nunito Sans;*/
      font-family: 'CIB Bold';
      font-size: 1rem;
      /*font-weight: bold;*/
      color: var(--text-color-dark-shade-1);
    }

    .step {
      width: 16px;
      height: 16px;
      margin-left: 12px;
      font-size: 0.75rem;
      padding: 3px 6px;
      text-align: center;
      background-color: var(--background-color-dark-5);
      color: var(--text-color-dark-shade-1);
      border-radius: 1px;
    }

    .active {
      background-color: var(--primary-color-light-shade-1);
      color: var(--primary-color);
    }

    .input-field {
      display: block;
      width: 100%;
      font-size: 0.875rem;
      color: var(--text-color);
      border-radius: 6pt !important;
    }

    .error-message {
      display: block;
      color: var(--color-error);
      font-size: 0.75rem;
      padding-top: 4px;
    }

    .links {
      margin-top: -8px;

      .keyboard {
        display: inline-block;
        color: var(--primary-color);
        font-size: 0.875rem;
        cursor: pointer;

        .icon {
          display: inline-block;
          margin: 0 5px;
          margin-top: 1px;

          i {
            font-size: 1rem;
          }
        }

        .label {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
}

.reset {
  text-align: center;
  font-weight: 600;
  font-size: 0.875rem;
}
