.sidebar {
  position: fixed;
  width: 600px !important;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--background-color);
  border-radius: 10px 0 0 10px;
  padding: 1rem 1.5rem;
  height: 100vh;

  .sidebar-header {
    border-bottom: 1px solid var(--background-color-dark-6);
  }

  .sidebar-body {
    margin-bottom: 2.5rem;
    height: calc(100% - 4.5rem);
    overflow-y: scroll;
    overflow-x: hidden;
    .user-details-form {
      .form-heading {
      }

      .form-body {
        display: block;

        .input-field {
          display: inline-block;
          width: 50%;
          padding: 0.5rem;
        }
      }
    }
  }

  .sidebar-footer {
    position: absolute;
    bottom: 1rem;
    right: 0;
    width: 100%;
  }
}

.card {
  border-radius: 5px;
  background: url('./../../../../assets/images/mask/mask-group-3.png'), var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  transition: all 0.25s;

  .user-container {
    .user-details {
      display: inline-block;
      border-bottom: 1px solid var(--background-color-dark-7);
      width: calc(100% - 3rem);

      .image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: var(--primary-color-light-shade-1);

        .user {
          line-height: 16px;
        }
      }
    }

    .pt--1 {
      padding-top: -4px;
    }

    .user-action {
      display: inline-block;
      width: 3rem;
      opacity: 0;
      transition: all 0.25s;

      .icon {
        display: inline-block;
      }
    }
  }

  &:hover {
    border: 1px solid var(--primary-color);
    .user-container {
      .user-action {
        opacity: 1;
      }
    }
  }
}

.no-user {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transition: (-50%, -50%);
}

@media screen and (max-width: 991px) {
  .sidebar {
    width: 320px !important;
    padding: 1rem;

    .sidebar-body {
      margin-bottom: 2.5rem;
      height: calc(100% - 4.5rem);
      overflow: scroll;

      .user-details-form {
        .form-body {
          .input-field {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .btn-md {
    padding: 7px 14px !important;
    i {
      font-size: 0.875rem !important;
    }
  }
}
