.help-options-wrapper {
  display: block;
  background-color: var(--background-color);
  width: 11rem;
  border-radius: 10px;
  padding: 16px;

  .options {
    display: block;

    .option {
      display: block;
      color: var(--text-color-dark-shade-1);
      padding: 0.25rem;
      cursor: pointer;

      .text {
        display: block;
        font-size: var(--font-size-14);
      }
    }

    .option:hover {
      background-color: var(--primary-color-light-shade-1);
    }
  }

  .divider-h {
    width: 100%;
    height: 0px;
    border-top: 1px solid var(--background-color-dark-5);
    margin: 0.25rem 0;
  }
}
