<div class="view-transactions p-px-3 p-py-2">
  <span class="p-p-1 p-mx-1 border-primary border-radius-4 pointer" (click)="backToSearch()">
    <app-icon icon="fa-chevron-left" rtlIcon="fa-chevron-right" class="app-icon"></app-icon>
  </span>
  <div class="text-size-16 text-color-dark-shade-1 text-bold inline-block">
    Payment Request Workflow
  </div>

  <app-org-tree [treeData]="orgTreeData"></app-org-tree>

  <br />

  <div class="p-grid p-mt-3">
    <div class="p-md-3 p-lg-3 p-sm-12 p-col-12 p-pl-0 p-py-0 p-mb-3">
      <div class="aps-card aps-h-500">
        <div class="aps-card-header p-px-3 aps-py-12">
          <div class="text-size-16 text-color-dark-shade-1 text-bold">Transaction Details</div>
        </div>
        <div class="aps-card-body">
          <app-tree
            [treeNode]="transactionDetails"
            [showData]="false"
            [selectedNode]="selectedTransactionDetails"
            (leafNodeSelected)="onTransactionSelected($event)"
          ></app-tree>
        </div>
      </div>
    </div>

    <div class="p-md-9 p-lg-9 p-sm-12 p-col-12 p-pr-0 p-pl-0 p-py-0">
      <div class="aps-card aps-h-500">
        <div class="aps-card-header p-px-3 aps-py-12">
          <div class="left-right-container">
            <div class="left-container">
              <div
                class="text-size-16 text-color-dark-shade-1 inline-block text-bold"
                *ngIf="selectedTransactionDetails"
              >
                {{ selectedTransactionDetails.label }}
              </div>
            </div>
            <div class="right-container">
              <div class="actions">
                <div class="action p-p-1 p-mx-1">
                  <app-icon icon="fa-envelope" class="text-size-16"></app-icon>
                </div>
                <div class="action p-p-1">
                  <app-icon icon="fa-print" class="text-size-16"></app-icon>
                </div>
                <div class="action p-p-1">
                  <app-icon icon="fa-ellipsis-v" class="text-size-16"></app-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="aps-card-body overflow-scroll p-p-2">
          <ng-container *ngIf="selectedTransactionDetails">
            <ng-container *ngIf="selectedTransactionDetails.data.key == 'institutionDetails'">
              <ng-container *ngTemplateOutlet="institutionDetails"></ng-container>
            </ng-container>

            <ng-container *ngIf="selectedTransactionDetails.data.key == 'taxDetails'">
              <ng-container *ngTemplateOutlet="taxDetails"></ng-container>
            </ng-container>

            <ng-container *ngIf="selectedTransactionDetails.data.key == 'paymentDetails'">
              <ng-container *ngTemplateOutlet="paymentDetails"></ng-container>
            </ng-container>

            <ng-container *ngIf="selectedTransactionDetails.data.key == 'supportingDocument'">
              <ng-container *ngTemplateOutlet="supportingDocument"></ng-container>
            </ng-container>

            <app-maker-checker-detail
              *ngIf="selectedTransactionDetails.data.key == 'makerCheckerDetails'"
              [isShowOnlyValues]="true"
              [formData]="formData"
            ></app-maker-checker-detail>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <ng-template #institutionDetails>
    <div class="p-grid p-pb-2">
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Institution Type</div>
        <div class="text-size-14">{{ formData.institutionType }}</div>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Value Date</div>
        <div class="text-size-14">{{ formData.valueDate }}</div>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Consumer ID</div>
        <div class="text-size-14">{{ formData.paymentId }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template #taxDetails>
    <div class="p-grid p-pb-2">
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Voucher Amount</div>
        <div class="text-size-14">{{ formData.taxDetails[0].voucherAmount }}</div>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Payment Reference Number</div>
        <div class="text-size-14">{{ formData.taxDetails[0].paymentReferenceNumber }}</div>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Status</div>
        <div class="text-size-14">{{ formData.taxDetails[0].status }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template #paymentDetails>
    <div class="p-grid p-pb-2">
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Debit From Account</div>
        <div class="text-size-14">{{ formData.debitAccount }}</div>
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">Balance Amount</div>
        <div class="text-size-14">{{ formData.balanceAmount }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template #supportingDocument>
    <div class="p-grid p-py-2">
      <div class="p-col-12 p-md-3 p-lg-3 p-pt-0" *ngFor="let file of formData.documents">
        <div class="aps-card">
          <div class="p-grid">
            <div class="p-col-2">
              <app-icon icon="fa-file" class="p-mt-2"></app-icon>
            </div>
            <div class="p-col-10">
              <div class="text-size-12 review-file-name">{{ file.fileName }}</div>
              <div class="text-size-10 text-color-light-shade-1">
                {{ (file.fileSize / 1024 / 1024).toFixed(2) }}Mb
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
