<div class="container">
  <div class="aps-card aps-h-400">
    <form name="corporateProfileForm" #corporateProfileForm="ngForm">
      <div class="aps-card-header">
        <div class="p-col-12 p-px-3 p-py-3 text-size-16 text-semi-bold">
          {{ 'User Profile' | apsTranslate }}
        </div>
      </div>
      <div class="aps-card-body" *ngIf="stepperDetails.currentStep == 1">
        <div class="p-grid" *ngIf="isGroupUser">
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <p-radioButton
              id="profileType-1"
              name="profileType"
              class="p-mr-3"
              [label]="'Generic' | apsTranslate"
              value="Generic"
              [(ngModel)]="formData.profileType"
            >
            </p-radioButton>
            <p-radioButton
              id="profileType-2"
              name="profileType"
              class="p-mr-3"
              [label]="'Corporate Wise' | apsTranslate"
              value="Corporate Wise"
              [(ngModel)]="formData.profileType"
            >
            </p-radioButton>
          </div>

          <div
            class="p-px-3 p-col-12 p-md-4 p-sm-12"
            *ngIf="formData.profileType == 'Corporate Wise'"
          >
            <aps-custom-select
              [label]="'Corporate' | apsTranslate"
              name="corporate"
              id="corporate"
              dataUrl="setup/corporateOnboarding/corporateMain/private/getGroupCorporateList"
              [(ngModel)]="formData.corporateId"
              [value]="formData.corporateId"
              (change)="formData.corporateName = $event.displayName"
              [required]="true"
            >
            </aps-custom-select>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <aps-form-input
              inputType="noSpaceAlphaNumeric"
              [label]="'Profile Code' | apsTranslate"
              name="profileCode"
              id="profileCode"
              [(ngModel)]="formData.profileCode"
              required="true"
            >
            </aps-form-input>
          </div>
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <aps-form-input
              inputType="alphaNumeric"
              id="profileName"
              name="ProfileName"
              [label]="'Profile Name' | apsTranslate"
              [(ngModel)]="formData.profileName"
              required="true"
            >
            </aps-form-input>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <app-aps-calender
              [label]="'Effective From' | apsTranslate"
              id="effectiveFrom"
              name="effectiveFrom"
              [showIcon]="true"
              [(ngModel)]="formData.effectiveFrom"
              required="true"
            >
            </app-aps-calender>
          </div>
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <app-aps-calender
              [label]="'Effective Till' | apsTranslate"
              id="effectiveTill"
              name="effectiveTill"
              [showIcon]="true"
              [(ngModel)]="formData.effectiveTill"
            ></app-aps-calender>
          </div>
        </div>
      </div>
      <div
        class="aps-card-body"
        *ngIf="stepperDetails.currentStep == stepperDetails.headings.length"
      >
        <div class="p-grid">
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <div class="p-p-2">
              <div class="text-size-12 text-color-light-shade-1">
                {{ 'Profile Code' | apsTranslate }}
              </div>
              <div class="text-size-14">{{ formData.profileCode }}</div>
            </div>
          </div>
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <div class="p-p-2">
              <div class="text-size-12 text-color-light-shade-1">
                {{ 'Profile Name' | apsTranslate }}
              </div>
              <div class="text-size-14">{{ formData.profileName }}</div>
            </div>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <div class="p-p-2">
              <div class="text-size-12 text-color-light-shade-1">
                {{ 'Effective From' | apsTranslate }}
              </div>
              <div class="text-size-14">{{ formData.effectiveFrom }}</div>
            </div>
          </div>
          <div class="p-px-3 p-col-12 p-md-4 p-sm-12">
            <div class="p-p-2">
              <div class="text-size-12 text-color-light-shade-1">
                {{ 'Effective Till' | apsTranslate }}
              </div>
              <div class="text-size-14">{{ formData.effectiveTill }}</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Form Actions -->
  <div class="p-grid g-margin-x">
    <div class="p-col-12">
      <app-stepper-footer [parentRef]="this"></app-stepper-footer>
    </div>
  </div>
</div>
