<div class="container" *ngIf="!loading">
  <div class="p-grid g-margin-x">
    <div class="p-col-12" *ngIf="currentScreen == 'FILTERS'">
      <app-dynamic-search #dynamicSearch entityName="DIRECT_DEBIT_MANDATE_STOP_PAYMENT" (onSearch)="getRecords($event)"
        [isShowSearchByHeader]="true" [isShowPrefillCriteria]="false" [isDisplayPrefillCriteriaModal]="false"
        optionalParametersColSize="4" (onFiltersReady)="onDynamicFiltersReady()">
      </app-dynamic-search>
    </div>

    <ng-container *ngIf="currentScreen == 'SEARCH_RESULTS'">
      <app-modal [(isShow)]="showStopPaymentDetails" size="md" headerText="{{ 'Stop Payment Details' | apsTranslate }}">
        <div class="p-grid" body>
          <div class="p-col-12">
            <aps-form-input id="reason" name="reason" label="{{ 'Reason' | apsTranslate }}"
              [(ngModel)]="formData.reason" [required]="true"></aps-form-input>
          </div>

          <div class="p-md-6 p-sm-12 p-col-12">
            <app-aps-calender id="startDate" name="startDate" label="{{ 'Start Date' | apsTranslate }}"
              [(ngModel)]="formData.startDate" [required]="true"></app-aps-calender>
          </div>

          <div class="p-md-6 p-sm-12 p-col-12">
            <app-aps-calender id="endDate" name="endDate" label="{{ 'End Date' | apsTranslate }}"
              [(ngModel)]="formData.endDate" [required]="true"></app-aps-calender>
          </div>
        </div>
        <div class="p-grid" footer>
          <div class="p-col-12">
            <div class="left-right-container">
              <div class="left-container">
                <button class="btn btn-md btn-secondary" (click)="showStopPaymentDetails = false">
                  {{ 'CLOSE' | apsTranslate }}
                </button>
              </div>
              <div class="right-container">
                <button class="btn btn-md btn-primary" (click)="stopPaymentRequest()" [disabled]="ValidateFormData()">
                  {{ 'STOP PAYMENT' | apsTranslate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </app-modal>

      <div class="p-col-12">
        <app-searched-by-view [filters]="selectedFilters" (onClear)="selectedFilters = []; currentScreen = 'FILTERS'"
          (onModify)="currentScreen = 'FILTERS'"></app-searched-by-view>
      </div>

      <div class="p-col-12">
        <div class="aps-card aps-h-400">
          <div class="aps-card-header aps-py-12 p-px-3 overflow-visible">
            <div class="left-right-container">
              <div class="left-container">
                <div class="text-size-14 text-bold">
                  {{ 'Search Results' | apsTranslate }} ({{ rowData.length }})
                </div>
              </div>
              <div class="right-container">
                <app-grid-listing-tools (changeFloatingFilter)="searchResultGrid.changeFloatFilter($event)"
                  (filterRecords)="searchResultGrid.onFilter($event)"
                  (applyColDefs)="searchResultGrid.onApplyConfig($event)" [colDefs]="searchResultGrid.columnDefs"
                  [columnConfig]="true" [moreOptions]="true">
                </app-grid-listing-tools>
              </div>
            </div>
          </div>
          <div class="aps-card-body">
            <app-ag-grid-listing #searchResultGrid id="searchResultGrid" [colDefUrl]="colDefUrl" [rowData]="rowData"
              [context]="context" [frameworkComponents]="frameworkComponents" [supressAutoFit]="true"
              [gridOptions]="gridOptions"></app-ag-grid-listing>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentScreen == 'VIEW'">
      <div class="p-md-5 p-sm-12 p-col-12">
        <div class="aps-card p-p-2 aps-h-100p">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Product Details' | apsTranslate }}</div>
            </div>
            <div class="p-md-6 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Corporate Code' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.corporateCode }}</div>
            </div>
            <div class="p-md-6 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Corporate Name' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.corporateName }}</div>
            </div>
            <div class="p-md-6 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Product Code' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.productCode }}</div>
            </div>
            <div class="p-md-6 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Product Name' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.productName }}</div>
            </div>
            <div class="p-md-6 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Customer Number' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.customerNo }}</div>
            </div>
            <div class="p-md-6 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Legal ID' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.legalId }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-md-7 p-sm-12 p-col-12">
        <div class="aps-card p-p-2">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Payer Details' | apsTranslate }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Payer Name' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerName }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Email ID' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerEmailId }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Mobile Number' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerMobileNo }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Address 1' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.address1 }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Address 2' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.address2 }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Address 3' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.address3 }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'IFSC Code' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerBank }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Payer Bank' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.payerSortCode }}</div>
            </div>
            <div class="p-md-4 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Payer Account Number' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.payerAccountNumber }}
              </div>
            </div>

            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Supporting Document' | apsTranslate }}</div>
            </div>

            <div class="p-col-12" *ngIf="formData.supportingDocuments && formData.supportingDocuments.length == 0">
              {{ 'No Supporting Documents Available' | apsTranslate }}
            </div>

            <div class="p-col-12">
              <!-- <img class="pointer" (click)="isChequeImage = true" src="assets/images/mandate-registration.jpg"
                  height="20px" width="40px" alt="" /> -->
              <div style="cursor: pointer;" class="text-size-14 text-color-light-shade-1"
                (click)="isChequeImage = true"> View Mandate Image
              </div>
            </div>
            <app-modal [(isShow)]="isChequeImage" size="md" headerText="{{ 'Mandate Image' | apsTranslate }}">
              <ng-container body>
                <img class="p-p-4" alt="Cheque Image" height="300" width="700"
                  src="assets/images/mandate-registration.jpg" />
              </ng-container>
            </app-modal>

            <div class="p-md-4 p-sm-12 p-col-12" *ngFor="let document of formData.supportingDocuments">
              <div class="aps-card p-p-2">
                <div class="label-with-icon-container">
                  <div class="icon">
                    <app-icon icon="fa-file"></app-icon>
                  </div>
                  <div class="label">
                    <div class="text-size-12">
                      {{ document.fileName }}
                    </div>
                    <div class="text-size-10 text-color-normal">
                      {{ (document.fileSize / 1024 / 1024).toFixed(2) }} MB
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col-12">
        <div class="aps-card p-p-2">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Payment Setup' | apsTranslate }}</div>
            </div>
            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Mandate Start Date' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.mandateStartDate }}
              </div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Mandate End Date' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.mandateEndDate }}</div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Account Type' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.accountType }}</div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12" *ngIf="formData.accountType == 'Fixed'">
              <div class="text-size-12 text-color-normal">{{ 'Amount' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.amount }}</div>
            </div>

            <ng-container *ngIf="formData.accountType == 'Variable'">
              <div class="p-md-3 p-sm-12 p-col-12">
                <div class="text-size-12 text-color-normal">{{ 'Max Upto' | apsTranslate }}</div>
                <div class="text-size-14 text-color-dark-shade-1">{{ formData.maxUpto }}</div>
              </div>

              <div class="p-md-3 p-sm-12 p-col-12">
                <div class="text-size-12 text-color-normal">{{ 'In Multiply' | apsTranslate }}</div>
                <div class="text-size-14 text-color-dark-shade-1">{{ formData.inMultiply }}</div>
              </div>

              <div class="p-md-3 p-sm-12 p-col-12">
                <div class="text-size-12 text-color-normal">{{ 'Not Above' | apsTranslate }}</div>
                <div class="text-size-14 text-color-dark-shade-1">{{ formData.notAbove }}</div>
              </div>
            </ng-container>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Mandate Type' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.mandateType }}</div>
            </div>

            <ng-container *ngIf="formData.mandateType == 'Standing INstruction'">
              <div class="p-md-3 p-sm-12 p-col-12">
                <div class="text-size-12 text-color-normal">
                  {{ 'Mandate Frequency' | apsTranslate }}
                </div>
                <div class="text-size-14 text-color-dark-shade-1">
                  {{ formData.mandateFrequency }}
                </div>
              </div>

              <div class="p-md-3 p-sm-12 p-col-12">
                <div class="text-size-12 text-color-normal">
                  {{ 'Mandate Days' | apsTranslate }}
                </div>
                <div class="text-size-14 text-color-dark-shade-1">{{ formData.mandateDays }}</div>
              </div>

              <div class="p-md-3 p-sm-12 p-col-12">
                <div class="text-size-12 text-color-normal">
                  {{ 'Mandate If Holiday' | apsTranslate }}
                </div>
                <div class="text-size-14 text-color-dark-shade-1">
                  {{ formData.mandateIfHoliday }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="p-col-12">
        <div class="aps-card p-p-2">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Enrichment Details' | apsTranslate }}</div>
            </div>
            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Reference 1' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.loanNumber }}</div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Reference 2' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.loanAccountNumber }}
              </div>
            </div>

            <!-- <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Enrichment Product Code' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.enrichmentProductCode }}
              </div>
            </div> -->

            <!-- <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">
                {{ 'Relationship Manager' | apsTranslate }}
              </div>
              <div class="text-size-14 text-color-dark-shade-1">
                {{ formData.relationshipManager }}
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <div class="p-col-12" *ngIf="mode == 'VIEW'">
        <div class="aps-card p-p-2">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">{{ 'Stop Payment Details' | apsTranslate }}</div>
            </div>
            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Reason' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.reason }}</div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'Start Date' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.startDate }}</div>
            </div>

            <div class="p-md-3 p-sm-12 p-col-12">
              <div class="text-size-12 text-color-normal">{{ 'End Date' | apsTranslate }}</div>
              <div class="text-size-14 text-color-dark-shade-1">{{ formData.endDate }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col-12">
        <aps-card class="aps-card aps-py-12 p-px-3">
          <div class="left-right-container">
            <div class="left-container">
              <button class="btn btn-md btn-tertiary" (click)="close()" *ngIf="mode != 'VIEW'">
                {{ 'CLOSE' | apsTranslate }}
              </button>
            </div>
            <div class="right-container">
              <button class="btn btn-md btn-secondary" (click)="back()" *ngIf="mode == 'VIEW'">
                {{ 'BACK' | apsTranslate }}
              </button>
            </div>
          </div>
        </aps-card>
      </div>
    </ng-container>


  </div>

  <ng-container *ngIf="currentScreen == 'VIEWSTOPPAYMENT'">
    <div class="p-grid">
      <div class="p-col-7 p-pl-0 p-pb-0">
        <div class="aps-card">
          <div class="p-grid p-px-2">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">Product Details</div>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Corporate Code" [value]="formData.corporateCode"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Corporate Name" [value]="formData.corporateName"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Product Code" [value]="formData.productCode"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Product Name" [value]="formData.productName"></app-review-form-field>
            </div>

            <div class="p-col-4">
              <app-review-form-field label="Utility Code" [value]="formData.utilityCode"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Customer No/ID" [value]="formData.customerNo"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Legal ID" [value]="formData.legalId"></app-review-form-field>
            </div>

            <div class="p-col-12">
              <div class="text-size-14 text-bold">Payer Details</div>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Payer Name" [value]="formData.payerName"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Address 1" [value]="formData.address1"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Address 2" [value]="formData.address2"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Address 3" [value]="formData.address3"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Email ID" [value]="formData.payerEmailId"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Mobile Number" [value]="formData.payerMobileNo"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="IFSC Code" [value]="formData.payerBank"></app-review-form-field>
            </div>




            <div class="p-col-4">
              <app-review-form-field label="Payer Bank" [value]="formData.payerBank"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Payer Account Number"
                [value]="formData.payerAccountNumber"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Mandate Upload" [value]="formData.mandateUpload"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Supporting Document"
                [value]="formData.supportingDocuments"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Mandate Start Date"
                [value]="formData.mandateStartDate"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Mandate End Date" [value]="formData.mandateEndDate"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Amount Type" [value]="formData.accountType"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Curreny Code" [value]="formData.currencyCode"></app-review-form-field>
            </div>


            <div class="p-col-4">
              <app-review-form-field label="Fixed Amount" [value]="formData.fixedAmount"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Mandate Type" [value]="formData.mandateType"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="SI Frequency" [value]="formData.mandateFrequency"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Days" [value]="formData.days"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Date" [value]="formData.date"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="If Holiday" [value]="formData.mandateIfHoliday"></app-review-form-field>
            </div>
            <div class="p-col-4">
              <app-review-form-field label="Enrichments" [value]="formData.enrichments"></app-review-form-field>
            </div>

          </div>
        </div>
      </div>

      <div class="p-col-5 p-pr-0 p-pb-0">
        <div class="aps-card">
          <div class="p-grid p-px-2">
            <div class="p-col-12">
              <div class="text-size-14 text-bold">Request Details</div>
            </div>
            <div class="p-col-6 p-py-0">
              <app-aps-calender id="startDate" name="startDate" label="{{ 'Start Date' | apsTranslate }}"
                [(ngModel)]="formData.startDate" [required]="true"></app-aps-calender>
            </div>
            <div class="p-col-6 p-py-0">
              <app-aps-calender id="endDate" name="endDate" label="{{ 'End Date' | apsTranslate }}"
                [(ngModel)]="formData.endDate" [required]="true"></app-aps-calender>
            </div>
            <div class="p-col-6 p-py-0">
              <aps-form-input id="reason" name="reason" label="{{ 'Hold Days' | apsTranslate }}"
                [(ngModel)]="formData.holdDays" [required]="true"></aps-form-input>
            </div>
            <div class="p-col-6 p-py-0">
              <aps-form-input id="reason" name="reason" label="{{ 'Reason' | apsTranslate }}"
                [(ngModel)]="formData.reason" [required]="true"></aps-form-input>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="aps-card p-my-3">
      <div class="p-grid">
        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="left-right-container">
                <div class="left-container">
                  <button class="btn btn-md btn-secondary" (click)="closeStopPayment()">
                    {{ 'CLOSE' | apsTranslate }}
                  </button>
                </div>
                <div class="right-container">
                  <button class="btn btn-md btn-primary" (click)="stopPaymentRequest()" [disabled]="ValidateFormData()">
                    {{ 'STOP PAYMENT' | apsTranslate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>