.credit-card {
  width: 3.5rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.credit-limit {
  .credit {
    border-color: var(--chart-1);
    padding-left: 2px !important;
  }
  .cash {
    border-color: var(--chart-2);
    padding-left: 2px !important;
  }
}
