<div class="container">
    <div class="p-grid g-margin-x">
        <div class="p-lg-8 p-md-8 p-sm-8 p-col-12 p-p-0">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-col-lg-6">
                    <div class="aps-card aps-filled-card-primary-sm pointer p-px-3 p-py-3">
                        <div class="text-color-inverted text-size-16 text-center">
                            {{ 'Schedule Pickup' | apsTranslate }}
                        </div>
                        <!-- routerLink="/collection/process/collectionSummary/initiate" -->
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-col-lg-6">
                    <div class="aps-card border-primary pointer p-px-3 p-py-3">
                        <div class="text-color-primary text-size-16 text-center">
                            {{ 'Adhoc Pickup' | apsTranslate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-grid">
                <app-modal [(isShow)]="showQuickPayModal" headerText="Quick Pay" size="md">
                    <div class="aps-h-400" body>
                        <ng-container *ngTemplateOutlet="quickPayTemplate"></ng-container>
                    </div>
                </app-modal>
                <div class="p-col-12 p-md-12 p-lg-12 p-mb-2">
                    <app-backdrop [zIndex]="3" *ngIf="formData.quickReq"></app-backdrop>
                    <div class="aps-card p-px-2 p-pt-3 hidden transition-all-25"
                        [ngClass]="formData.quickReq ? 'absolute h-max z-5 p-mr-3 p-pb-3' : 'aps-h-100p'">
                        <ng-container *ngTemplateOutlet="quickPayTemplate"></ng-container>
                    </div>
                </div>
            </div>

            <div class="p-grid">
                <div class="p-md-12 p-sm-12 p-col-12 p-py-0">
                    <div class="left-right-container">
                        <div class="left-container">
                            <div class="inline-items aps-w-100p overflow-scroll">
                                <div class="item p-mr-3" *ngFor="let pattern of patternList">
                                    <div class="aps-card p-p-2 text-size-12 text-color-normal text-semi-bold pointer border"
                                        [ngClass]="{ 'aps-card-primary': pattern.displayName === selectedPattern.displayName }"
                                        (click)="changePattern(pattern)">
                                        {{ pattern.displayName }} ({{pattern.count}})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-container"></div>
                    </div>
                </div>
                <div class="p-md-12 p-sm-12 p-col-12 aps-h-300" *ngIf="selectedPattern.displayName == 'Cash Pickup'">
                    <!-- <app-ag-grid-listing id="consolidatedAccountStatementGrid" #consolidatedAccountStatementGrid
                        [colDefUrl]="colDefUrl" [rowDefUrl]="dataUrl" [gridOptions]="gridOptions"
                        [context]="{componentParent: this}" [frameworkComponents]="frameworkComponents">
                    </app-ag-grid-listing> -->

                    <app-ag-grid-listing [gridOptions]="gridOptions" [context]="{ componentParent: this }"
                        colDefUrl="accountServices/services/accountSummary/private/debitCardColDefs"
                        rowDataUrl="rowData" [supressAutoFit]="true"></app-ag-grid-listing>
                </div>
                <div class="p-md-12 p-sm-12 p-col-12 p-py-0" *ngIf="selectedPattern.displayName == 'Cheque Pickup'">
                    <p-panel>
                        Weekly
                    </p-panel>
                </div>
            </div>

        </div>

        <div class="p-lg-4 p-md-4 p-sm-12 p-col-12">
            <div class="aps-card p-py-1">
                <!-- <div class="border-radius-4 text-color-dark-shade-1">
                    <div class="text-color-primary text-size-16 text-center">
                        <span class="text-size-12 pointer">
                            <app-icon icon="fa-chevron-left" class="app-icon" rtlIcon="fa-chevron-right"></app-icon>
                        </span>
                        <span class="p-mx-3">Cash Summary</span>
                        <span class="text-size-12 pointer">
                            <app-icon icon="fa-chevron-right" class="app-icon"
                                rtlIcon="fa-chevron-left"></app-icon></span>
                    </div>

                    <div class="text-center">
                        <div class="inline-block white-space-nowrap" [ngClass]="classes">
                            <div class="inline-block">
                                <select class="currency-select" [ngClass]="selectStyleClass" name="cashSummary"
                                    id="cashSummary" [value]="formData.cashSummary" [(ngModel)]="formData.cashSummary">
                                    <option *ngFor="let c of dateList" [value]="c.displayName">
                                        {{ c.displayName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="background-color-dark-4 border-radius-4 p-mx-4 p-py-2">
                        <div class="left-right-container no-left-right-container-on-mobile">
                            <div class="left-container p-pl-6">
                                <div class="text-size-12 text-semi-bold">INR 30,00,00,000</div>
                                <div class="text-size-12 text-semi-bold">Total Value</div>
                            </div>
                            <div class="right-container p-pr-6">
                                <div class="text-size-12 text-semi-bold">109</div>
                                <div class="text-size-12 text-semi-bold">Total Number</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-size-13 text-center">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-4 p-lg-4 p-pl-5">
                                <span class="text-bold">101</span>
                            </div>
                            <div class="p-col-12 p-md-4 p-lg-4">
                                <span class="text-bold">20</span>
                            </div>
                            <div class="p-col-12 p-md-4 p-lg-4 p-pr-5">
                                <span class="text-bold">0</span>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-4 p-lg-4 p-py-0 p-pl-5">
                                <span>Completed</span>
                            </div>
                            <div class="p-col-12 p-md-4 p-lg-4 p-py-0">
                                <span>Pending</span>
                            </div>
                            <div class="p-col-12 p-md-4 p-lg-4 p-py-0 p-pr-5">
                                <span>NIL</span>
                            </div>
                        </div>
                    </div>
                </div> -->

                <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-product pTemplate="item">
                        <div class="p-grid">
                            <div class="p-col-12 p-pb-0">
                                <div class="text-size-15 text-semi-bold text-center text-color-primary">
                                    {{product.cashflowDetails}}
                                </div>
                            </div>
                            <div class="p-col-12 p-py-0">
                                <div class="text-center">
                                    <div class="inline-block white-space-nowrap" [ngClass]="classes">
                                        <div class="inline-block">
                                            <select class="currency-select" [ngClass]="selectStyleClass"
                                                name="cashSummary" id="cashSummary" [value]="formData.cashSummary"
                                                [(ngModel)]="formData.cashSummary">
                                                <option *ngFor="let c of dateList" [value]="c.displayName">
                                                    {{ c.displayName }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-py-0">
                                <div class="background-color-dark-4 border-radius-4 p-py-2">
                                    <div class="left-right-container no-left-right-container-on-mobile">
                                        <div class="left-container p-pl-4">
                                            <div class="text-size-12 text-semi-bold">{{product.amount}}</div>
                                            <div class="text-size-12 text-semi-bold">{{product.totalValue}}</div>
                                        </div>
                                        <div class="right-container p-pr-4">
                                            <div class="text-size-12 text-semi-bold">{{product.count}}</div>
                                            <div class="text-size-12 text-semi-bold">{{product.totalNo}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-12 p-py-0">
                                <div class="text-size-13 text-center">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-4 p-lg-4 p-pl-5">
                                            <span class="text-bold">101</span>
                                        </div>
                                        <div class="p-col-12 p-md-4 p-lg-4">
                                            <span class="text-bold">20</span>
                                        </div>
                                        <div class="p-col-12 p-md-4 p-lg-4 p-pr-5">
                                            <span class="text-bold">0</span>
                                        </div>
                                    </div>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-4 p-lg-4 p-py-0 p-pl-5">
                                            <span>Completed</span>
                                        </div>
                                        <div class="p-col-12 p-md-4 p-lg-4 p-py-0">
                                            <span>Pending</span>
                                        </div>
                                        <div class="p-col-12 p-md-4 p-lg-4 p-py-0 p-pr-5">
                                            <span>NIL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>

            <div class="aps-card p-py-2 p-px-2 p-my-3">
                <div class="p-mx-4 p-py-2">
                    <div class="left-right-container no-left-right-container-on-mobile">
                        <div class="left-container">
                            <div class="text-size-12 text-semi-bold text-color-primary">My Schedule Pick Up</div>
                        </div>
                        <div class="right-container">
                            <div class="text-size-12 text-semi-bold text-color-primary">Reminders</div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="label-with-icon-container p-mt-1" *ngFor="let schedule of schedules">
                        <div class="icon">
                            <app-icon styleClasses="text-size-13" [icon]="schedule.icon"></app-icon>
                        </div>
                        <div class="label text-size-12 white-space-normal p-pt-1">
                            <span>Schedule at</span>&nbsp;
                            <span class="text-color-primary">{{ schedule.time}}.</span>&nbsp;
                            <span>Pickup at</span>&nbsp;
                            <span class="text-color-primary">{{schedule.address}}</span>&nbsp;
                            <span>by</span> &nbsp;
                            <span class="text-color-primary">{{schedule.company}}.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aps-card p-py-2 p-px-2">
                <div class="background-color-dark-4 border-radius-4 text-color-dark-shade-1 p-p-3">
                    <div class="text-size-14 text-semi-bold">Insights</div>
                    <div class="aps-h-120">
                        <div class="label-with-icon-container p-mt-1" *ngFor="let insight of insights">
                            <div class="icon">
                                <app-icon styleClasses="text-size-13" [icon]="insight.icon"></app-icon>
                            </div>
                            <div class="label text-size-12 white-space-normal p-pt-1">
                                {{ insight.label }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="p-lg-4 p-md-4 p-sm-12 p-col-12">
            <div class="aps-card aps-h-100p">
                <app-insights height="215" isTransparentBackground="true"
                    insightsUrl="dummyServer/json/commons/private/insights/debitCard">
                </app-insights>
            </div>
        </div> -->
    </div>
</div>

<ng-template #quickPayTemplate>
    <form #quickPayForm="ngForm">
        <div class="p-grid" [ngClass]="{ 'aps-h-400 overflow-y-scroll': showQuickPayModal }">
            <div class="p-col-12 p-md-4 p-lg-4 p-py-0 p-pt-0">
                <div class="text-bold text-size-16">{{ 'Quick Request' | apsTranslate }}</div>
            </div>
            <div class="p-col-12 p-md-8 p-lg-8 p-py-0 p-pt-0">
                <div class="left-right-container no-left-right-container-on-mobile">
                    <div class="left-container">
                        <p-radioButton class="p-mr-3" label="Pickup" value="Pickup" name="Pickup"
                            [(ngModel)]="formData.quickReq">
                        </p-radioButton>
                        <p-radioButton label="Drop" value="drop" name="Drop"
                            [(ngModel)]="formData.quickReq"></p-radioButton>
                    </div>
                    <div class="right-container"></div>
                </div>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 p-py-0">
                <aps-form-input label="Location" id="location" name="location" [required]="true"
                    [(ngModel)]="formData.location" [disabled]="formData.quickReq">
                </aps-form-input>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 p-py-0">
                <aps-custom-select id="pickupPointCode" name="pickupPointCode" label="Pickup Point Code"
                    [(ngModel)]="formData.pickupPointCode" [disabled]="formData.quickReq"
                    dataUrl="setup/generalMasters/currency/private/currencyList">
                </aps-custom-select>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 p-py-0">
                <aps-form-input label="Pickup Point Name" id="location" name="location" [required]="true"
                    [(ngModel)]="formData.pickupPointName">
                </aps-form-input>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 p-py-0">
                <aps-custom-select label="Pickup Time" id="pickupTime" name="pickupTime"
                    dataUrl="setup/corporateOnboarding/corporateMain/private/accountList" [required]="true"
                    [(ngModel)]="formData.pickupTime">
                </aps-custom-select>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 p-py-0">
                <aps-custom-select label="Product Name" id="productName" name="productName"
                    [(ngModel)]="formData.productName"
                    dataUrl="setup/corporateOnboarding/corporateMain/private/accountList" [required]="true">
                </aps-custom-select>
            </div>
            <div class="p-col-12">
                <div class="text-right">
                    <button [disabled]="!formData.productName" class="btn btn-md btn-primary">
                        {{ 'Submit' | apsTranslate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="left-right-container">
                <div class="left-container">
                    <button *ngIf="formData.quickReq" class="btn btn-md btn-tertiary mr-2"
                        (click)="closeQuickPayModal()">
                        {{ 'CANCEL' | apsTranslate }}
                    </button>
                </div>
                <div class="right-container"></div>
            </div>
        </div>
    </form>
</ng-template>