<div class="demo-videos-container text-bold text-color-dark-shade-2">
  <div class="demo-videos-header text-size-16 p-mb-2">Company Information</div>

  <div class="demo-videos">
    <div class="video">
      <img src="./../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>
  </div>
</div>

<div class="demo-videos-container text-bold text-color-dark-shade-2">
  <div class="demo-videos-header text-size-16 p-mt-2 p-mb-2">User Details</div>

  <div class="demo-videos">
    <div class="video">
      <img src="./../../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>

    <div class="video">
      <img src="./../../../../../assets/images/demo-video.PNG" alt="Demo Video" />
      <div class="sub-heading text-semi-bold text-size-12">Company Information</div>
    </div>
  </div>
</div>
