<div [ngClass]="{ 'input-control-rtl': direction === 'rtl' }">
  <div class="default-style" [ngClass]="{
      'bordered-style': style === 'style3' || style === 'style4',
      'disable-floating-label': style === 'style2' || style === 'style4',
      'no-label': !showLabel
    }">
    <div class="form-group">
      <div class="input-group" [ngClass]="{ 'input-group-error': error }">
        <!-- normal -->
        <input *ngIf="inputType === 'normal'" [id]="id + label" [name]="name ? name : label" class="input-control"
          [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value" (blur)="touched()"
          [attr.minLength]="minLength" [attr.maxLength]="maxLength" (input)="changed($event)" (focus)="onFocus($event)"
          (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled" [readonly]="readonly"
          type="text" placeholder="{{ label }}" autocomplete="off" />
        <!-- numeric -->
        <input *ngIf="inputType === 'numeric'" [id]="id + label" [name]="name ? name : label" class="input-control"
          [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value" (blur)="touched()"
          [attr.minLength]="minLength" [attr.maxLength]="maxLength" (input)="changed($event)" (focus)="onFocus($event)"
          (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled" [readonly]="readonly"
          type="text" placeholder="{{ label }}" autocomplete="off" numericInput />
        <!-- email -->
        <input *ngIf="inputType === 'email'" [id]="id + label" [name]="name ? name : label" class="input-control"
          [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value" (blur)="touched()"
          [attr.minLength]="minLength" [attr.maxLength]="maxLength" (input)="changed($event)" (focus)="onFocus($event)"
          (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled" [readonly]="readonly"
          type="email" placeholder="{{ label }}" autocomplete="off" />

        <!-- alphaNumeric -->
        <input *ngIf="inputType === 'alphaNumeric'" [id]="id + label" [name]="name ? name : label" class="input-control"
          [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value" (blur)="touched()"
          [attr.minLength]="minLength" [attr.maxLength]="maxLength" (input)="changed($event)" (focus)="onFocus($event)"
          (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled" [readonly]="readonly"
          type="text" placeholder="{{ label }}" autocomplete="off" alphaNumericInput />
        <!-- noSpaceAlphaNumeric -->
        <input *ngIf="inputType === 'noSpaceAlphaNumeric'" [id]="id + label" [name]="name ? name : label"
          class="input-control" [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value"
          (blur)="touched()" [attr.minLength]="minLength" [attr.maxLength]="maxLength" (input)="changed($event)"
          (focus)="onFocus($event)" (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled"
          [readonly]="readonly" type="text" placeholder="{{ label }}" autocomplete="off" noSpaceInput
          alphaNumericInput />
        <!-- noSpace -->
        <input *ngIf="inputType === 'noSpace'" [id]="id + label" [name]="name ? name : label" class="input-control"
          [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value" (blur)="touched()"
          [attr.minLength]="minLength" [attr.maxLength]="maxLength" (input)="changed($event)" (focus)="onFocus($event)"
          (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled" [readonly]="readonly"
          type="text" placeholder="{{ label }}" autocomplete="off" noSpaceInput />
        <!-- currencyFormatNotZero -->
        <input *ngIf="inputType === 'currencyFormatNotZero'" [id]="id + label" [name]="name ? name : label"
          class="input-control" [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value"
          (blur)="touched()" [attr.minLength]="minLength" [attr.maxLength]="maxLength" (input)="changed($event)"
          (focus)="onFocus($event)" (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled"
          [readonly]="readonly" type="text" placeholder="{{ label }}" autocomplete="off" currencyFormatNotZero />
        <!-- cardNumber -->
        <input *ngIf="inputType === 'cardNumber'" [id]="id + label" [name]="name ? name : label" class="input-control"
          [type]="type" [ngClass]="{ 'input-control-with-icon': icon }" [value]="value" (blur)="touched()"
          attr.minLength="16" attr.maxLength="16" (input)="changed($event)" (focus)="onFocus($event)"
          (focusout)="onFocusOut($event)" (blur)="onBlur($event)" [disabled]="disabled" [readonly]="readonly"
          type="text" placeholder="{{ label }}" autocomplete="off" cardNumber />

        <label class="input-label" [for]="id + label"
          [ngClass]="{ 'input-label-floating': value, 'input-label-with-icon-container': icon }" *ngIf="showLabel">
          <span class="label">
            {{ label | apsTranslate }}<span class="required" *ngIf="required">*</span>
          </span>
        </label>

        <div class="icon" *ngIf="icon">
          <app-icon icon="{{ icon }}" class="app-icon"></app-icon>
        </div>

        <div class="actions-wrapper">
          <div class="action" *ngIf="showClear && value" (click)="clearInput()">
            <app-icon icon="fa-times" class="app-icon"></app-icon>
          </div>
          <div class="action" *ngIf="rightIcon" (click)="onRightIconClick()">
            <app-icon icon="{{ rightIcon }}" class="app-icon"></app-icon>
          </div>
        </div>
      </div>

      <span *ngIf="helpText && !error" class="input-help-text">{{ helpText }}</span>
      <span *ngIf="errorMessage" class="input-error">{{ errorMessage }}</span>
    </div>
  </div>
</div>