<div class="view-transactions p-px-3 p-py-4">
  <span class="p-p-1 p-mx-1 border-primary border-radius-4 pointer" (click)="backToSearch()">
    <app-icon icon="fa-chevron-left" rtlIcon="fa-chevron-right" class="app-icon"></app-icon>
  </span>
  <div class="text-size-16 text-color-dark-shade-1 text-bold inline-block">Transaction Details</div>

  <br />

  <div class="aps-card p-px-3 p-mt-3">
    <div class="p-grid p-mt-3">
      <div class="p-py-3 text-size-14 text-semi-bold">Deposit Details</div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Entry Date</div>
          </div>
        </div>
        <div class="text-size-14">18-Nov-2016</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Deposit Slip</div>
          </div>
        </div>
        <div class="text-size-14"></div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Deposit Date</div>
          </div>
        </div>
        <div class="text-size-14">24-Jul-2017</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Deposit Amount</div>
          </div>
        </div>
        <div class="text-size-14"></div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">No of Cheque</div>
          </div>
        </div>
        <div class="text-size-14">2</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Pickup Code</div>
          </div>
        </div>
        <div class="text-size-14">LC100</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Pickup Location</div>
          </div>
        </div>
        <div class="text-size-14">Bangkok</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Batch Reference</div>
          </div>
        </div>
        <div class="text-size-14">B102</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Enrichment1</div>
          </div>
        </div>
        <div class="text-size-14">Enrichment1</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Enrichment1</div>
          </div>
        </div>
        <div class="text-size-14">Enrichment2</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Enrichment3</div>
          </div>
        </div>
        <div class="text-size-14">Enrichment3</div>
      </div>
    </div>
  </div>

  <div class="aps-card p-px-3 p-mt-3">
    <div class="p-grid p-mt-3">
      <div class="p-py-3 text-size-14 text-semi-bold">Instrument Details</div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Cheque Number</div>
          </div>
        </div>
        <div class="text-size-14">789123</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">MICR</div>
          </div>
        </div>
        <div class="text-size-14">700211002</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Drawee Branch</div>
          </div>
        </div>
        <div class="text-size-14">Bangkok Bank</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Drawee Bank</div>
          </div>
        </div>
        <div class="text-size-14">Bangkok</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Clearing Location</div>
          </div>
        </div>
        <div class="text-size-14">Bangkok</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Cheque Amount</div>
          </div>
        </div>
        <div class="text-size-14">1000</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Cheque Date</div>
          </div>
        </div>
        <div class="text-size-14">03-Sep-2016</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Reference No.</div>
          </div>
        </div>
        <div class="text-size-14">L001</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Liquidation Date</div>
          </div>
        </div>
        <div class="text-size-14">25-Apr-2018</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Liquidation Status</div>
          </div>
        </div>
        <div class="text-size-14">Return</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Return Reason</div>
          </div>
        </div>
        <div class="text-size-14">Insufficient Fund</div>
      </div>
    </div>
  </div>

  <div class="aps-card p-px-3 p-mt-3">
    <div class="p-grid p-mt-3">
      <div class="p-py-3 text-size-14 text-semi-bold">Other Details</div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Corporate Client Code</div>
          </div>
        </div>
        <div class="text-size-14">C1002</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Corporate Client Name</div>
          </div>
        </div>
        <div class="text-size-14">JUMBO</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Payee Name</div>
          </div>
        </div>
        <div class="text-size-14">Payee1</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Product code</div>
          </div>
        </div>
        <div class="text-size-14">LCC Own</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Corporate Client Name</div>
          </div>
        </div>
        <div class="text-size-14">Local Own cheque</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Clearing Days</div>
          </div>
        </div>
        <div class="text-size-14">15</div>
      </div>

      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12-12">
        <div class="text-size-12 text-color-light-shade-1">
          <div class="inline-items">
            <div class="item">Credit Due Date</div>
          </div>
        </div>
        <div class="text-size-14">25-Apr-2018</div>
      </div>
    </div>
  </div>

  <div class="aps-card p-px-3 p-mt-3">
    <div class="p-grid p-mt-3">
      <div class="p-py-3 text-size-14 text-semi-bold">Enrichment Details</div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-md-3 p-lg-3 p-sm-12-12 p-md-12 p-lg-12 p-sm-12">
        <table class="p-col-12 p-md-3 p-lg-3 p-sm-12-12 p-md-12 p-lg-12 p-sm-12">
          <thead class="table-head">
            <tr>
              <th class="text-size-14 text-left">Sr No</th>
              <th class="text-size-14 text-left">Invoice Number</th>
              <th class="text-size-14 text-left">Invoice Amount</th>
              <th class="text-size-14 text-left">Invoice Date</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="text-size-12 text-left">1</td>
              <td class="text-size-12 text-left">2413255</td>
              <td class="text-size-12 text-left">25000.00</td>
              <td class="text-size-12 text-left">03-Sep-2016</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
