@media screen and (max-width: 991px) {
  .show-on-mobile {
    display: inline-block !important;
  }

  .border-on-mobile {
    border: none;
    border-top: 1px solid var(--background-color-dark-5);
  }
}
