<div
  class=" text-color-dark-shade-1 p-p-{{ outerPadding }}"
  [ngClass]="!isTransparentBackground ? 'background-color-dark-4' : ''"
>
  <div class="text-size-14 text-semi-bold">{{ 'Insights' | apsTranslate }}</div>
  <div class="aps-h-120 overflow-y-scroll overflow-x-hidden" [style]="{ height: height + 'px' }">
    <div class="label-with-icon-container p-mt-1" *ngFor="let insight of insights">
      <div class="icon">
        <app-icon styleClasses="{{ insight?.class }} text-size-12" [icon]="insight.icon"></app-icon>
      </div>
      <div class="label text-size-12 p-pt-1">
        {{ insight.label }}
      </div>
    </div>
  </div>
</div>
