<div class="p-grid">
  <div class="p-col-12 p-p-0 p-p-mb-3">
    <div class="background-color-dark-5 p-py-2 p-px-3">
      <div class="text-size-16 text-semi-bold text-color-dark-shade-1">
        Invoice Maker Checker Details
      </div>
    </div>
  </div>

  <div class="p-col-12 p-p-0">
    <div class="p-grid p-p-3 text-size-14">
      <div class="p-md-6 p-lg-6 p-sm-12 p-col-12 p-p-0 p-mb-3">
        <div class="text-color-light-shade-1">Maker</div>
        <div class="text-color-dark-shade-1">RUDRA MAKER (rudramaker)</div>
      </div>
      <div class="p-md-6 p-lg-6 p-sm-12 p-col-12 p-p-0 p-mb-3">
        <div class="text-color-light-shade-1">Maker Date Time</div>
        <div class="text-color-dark-shade-1">20 Jun 2021, 12:12:14</div>
      </div>
      <div class="p-md-6 p-lg-6 p-sm-12 p-col-12 p-p-0 p-mb-3">
        <div class="text-color-light-shade-1">Checker</div>
        <div class="text-color-dark-shade-1">RUDRA Checker (rudrachecker)</div>
      </div>
      <div class="p-md-6 p-lg-6 p-sm-12 p-col-12 p-p-0 p-mb-3">
        <div class="text-color-light-shade-1">Checker Date Time</div>
        <div class="text-color-dark-shade-1">20 Jun 2021, 12:12:28</div>
      </div>
    </div>
  </div>
</div>
